<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="recipeSuitableForDiet">
            <h2><span>Recipe Suitable For Diet</span> {{recipeSuitableForDiet.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span ngbTooltip="Id of applicaple Tag entity retrieved from products service">Diet Type Id</span></dt>
                <dd>
                    <span>{{recipeSuitableForDiet.dietTypeId}}</span>
                </dd>
                <dt><span>Recipe</span></dt>
                <dd>
                    <div *ngIf="recipeSuitableForDiet.recipe">
                        <a [routerLink]="['/recipe', recipeSuitableForDiet.recipe?.id, 'view']">{{recipeSuitableForDiet.recipe?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/recipe-suitable-for-diet', recipeSuitableForDiet.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
