<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.userExtraInfo.home.title">User Extra Infos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-extra-info" [routerLink]="['/user-extra-info/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="gatewayApp.userExtraInfo.home.createLabel">
            Create new User Extra Info
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gatewayApp.userExtraInfo.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="userExtraInfos?.length === 0">
        <span jhiTranslate="gatewayApp.userExtraInfo.home.notFound">No userExtraInfos found</span>
    </div>
    <div class="table-responsive" *ngIf="userExtraInfos?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gatewayApp.userExtraInfo.gender">Gender</span></th>
            <th><span jhiTranslate="gatewayApp.userExtraInfo.dateOfBirth">Date Of Birth</span></th>
            <th><span jhiTranslate="gatewayApp.userExtraInfo.phoneNumber">Phone Number</span></th>
            <th><span jhiTranslate="gatewayApp.userExtraInfo.streetAddress">Street Address</span></th>
            <th><span jhiTranslate="gatewayApp.userExtraInfo.postalCode">Postal Code</span></th>
            <th><span jhiTranslate="gatewayApp.userExtraInfo.city">City</span></th>
            <th><span jhiTranslate="gatewayApp.userExtraInfo.country">Country</span></th>
            <th><span jhiTranslate="gatewayApp.userExtraInfo.personalDescription">Personal Description</span></th>
            <th><span jhiTranslate="gatewayApp.userExtraInfo.user">User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userExtraInfo of userExtraInfos ;trackBy: trackId">
                <td><a [routerLink]="['/user-extra-info', userExtraInfo.id, 'view' ]">{{userExtraInfo.id}}</a></td>
                <td jhiTranslate="{{'gatewayApp.Gender.' + userExtraInfo.gender}}">{{userExtraInfo.gender}}</td>
                <td>{{userExtraInfo.dateOfBirth | date:'mediumDate'}}</td>
                <td>{{userExtraInfo.phoneNumber}}</td>
                <td>{{userExtraInfo.streetAddress}}</td>
                <td>{{userExtraInfo.postalCode}}</td>
                <td>{{userExtraInfo.city}}</td>
                <td>{{userExtraInfo.country}}</td>
                <td>{{userExtraInfo.personalDescription}}</td>
                <td>
                    {{userExtraInfo.user?.id}}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/user-extra-info', userExtraInfo.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/user-extra-info', userExtraInfo.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'user-extra-info', { outlets: { popup: userExtraInfo.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
