<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="recipeBasicNutritionData">
            <h2><span jhiTranslate="gatewayApp.recipesRecipeBasicNutritionData.detail.title">Recipe Basic Nutrition Data</span> {{recipeBasicNutritionData.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.recipesRecipeBasicNutritionData.energy" [ngbTooltip]="'gatewayApp.recipesRecipeBasicNutritionData.help.energy' | translate">Energy</span></dt>
                <dd>
                    <span>{{recipeBasicNutritionData.energy}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.recipesRecipeBasicNutritionData.protein" [ngbTooltip]="'gatewayApp.recipesRecipeBasicNutritionData.help.protein' | translate">Protein</span></dt>
                <dd>
                    <span>{{recipeBasicNutritionData.protein}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.recipesRecipeBasicNutritionData.fat" [ngbTooltip]="'gatewayApp.recipesRecipeBasicNutritionData.help.fat' | translate">Fat</span></dt>
                <dd>
                    <span>{{recipeBasicNutritionData.fat}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.recipesRecipeBasicNutritionData.carbohydrates" [ngbTooltip]="'gatewayApp.recipesRecipeBasicNutritionData.help.carbohydrates' | translate">Carbohydrates</span></dt>
                <dd>
                    <span>{{recipeBasicNutritionData.carbohydrates}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.recipesRecipeBasicNutritionData.recipe">Recipe</span></dt>
                <dd>
                    <div *ngIf="recipeBasicNutritionData.recipeId">
                        <a [routerLink]="['/recipe', recipeBasicNutritionData.recipeId, 'view']">{{recipeBasicNutritionData.recipeName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/recipe-basic-nutrition-data', recipeBasicNutritionData.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
