<div class="patient-list-wrapper">
    <div class="row">
        <div class="col-md-4">
            <button id="jh-create-entity2" class="btn btn-primary jh-create-entity create-recipe"
                    [routerLink]="['/patient-card/new']">
                <fa-icon [icon]="'plus'"></fa-icon>
                <span>Create new Patient Card</span>
            </button>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control jh-card shadow" placeholder="Search..." (keyup.enter)="search()"
                   id="search"
                   name="search"
                   [(ngModel)]="searchPhrase"/>
        </div>
    </div>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-md-4">
            <div class="card jh-card">
                <h2>All patients</h2>
                <div class="table-responsive" *ngIf="patientCards">
                    <table class="table table-striped">
                        <thead>
                        <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse"
                            [callback]="transition.bind(this)">
                            <th jhiSortBy="id"><span>ID</span>
                                <fa-icon [icon]="'sort'"></fa-icon>
                            </th>
                            <th jhiSortBy="creationDate"><span>Creation Date</span>
                                <fa-icon [icon]="'sort'"></fa-icon>
                            </th>
                            <th jhiSortBy="patient.id"><span>Patient</span>
                                <fa-icon [icon]="'sort'"></fa-icon>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let patientCard of patientCards ;trackBy: trackId"
                            [routerLink]="['/patient-card', patientCard.id, 'view' ]">
                            <td>{{patientCard.id}}</td>
                            <td>{{patientCard.creationDate | date:'mediumDate'}}</td>
                            <td>{{patientCard.patient?.id}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Pager is not implemented yet, so this is normal pagination instead -->
                <div *ngIf="patientCards && patientCards.length">
                    <div class="row justify-content-center">
                        <jhi-item-count [page]="page" [total]="totalItems"
                                        [itemsPerPage]="itemsPerPage"></jhi-item-count>
                    </div>
                    <div class="row justify-content-center">
                        <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage"
                                        [maxSize]="5"
                                        [rotate]="true" [boundaryLinks]="true"
                                        (pageChange)="loadPage(page)"></ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card jh-card">
                <h2>Appointments</h2>
                <div class="table-responsive" *ngIf="patientCards">
                    <table class="table table-striped">
                        <thead>
                        <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            <th jhiSortBy="appointmentDate"><span>Appointment Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            <th jhiSortBy="appointmentState"><span>Appointment State</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            <th jhiSortBy="mealPlanId"><span>Meal Plan Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            <th jhiSortBy="generalAdvice"><span>General Advice</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            <th jhiSortBy="bodyMeasurment.id"><span>Body Measurment</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            <th jhiSortBy="patientCard.id"><span>Patient Card</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let appointment of appointments ;trackBy: trackId">
                            <td><a [routerLink]="['/appointment', appointment.id, 'view' ]">{{appointment.id}}</a></td>
                            <td>{{appointment.appointmentDate | date:'mediumDate'}}</td>
                            <td>{{appointment.appointmentState}}</td>
                            <td>{{appointment.mealPlanId}}</td>
                            <td>{{appointment.generalAdvice}}</td>
                            <td>
                                <div *ngIf="appointment.bodyMeasurment">
                                    <a [routerLink]="['../body-measurment', appointment.bodyMeasurment?.id, 'view' ]" >{{appointment.bodyMeasurment?.id}}</a>
                                </div>
                            </td>
                            <td>
                                <div *ngIf="appointment.patientCard">
                                    <a [routerLink]="['../patient-card', appointment.patientCard?.id, 'view' ]" >{{appointment.patientCard?.id}}</a>
                                </div>
                            </td>
                            <td class="text-right">
                                <div class="btn-group flex-btn-group-container">
                                    <button type="submit"
                                            [routerLink]="['/appointment', appointment.id, 'view' ]"
                                            class="btn btn-info btn-sm">
                                        <fa-icon [icon]="'eye'"></fa-icon>
                                        <span class="d-none d-md-inline">View</span>
                                    </button>
                                    <button type="submit"
                                            [routerLink]="['/appointment', appointment.id, 'edit']"
                                            class="btn btn-primary btn-sm">
                                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                        <span class="d-none d-md-inline">Edit</span>
                                    </button>
                                    <button type="submit"
                                            [routerLink]="['/', 'appointment', { outlets: { popup: appointment.id + '/delete'} }]"
                                            replaceUrl="true"
                                            queryParamsHandling="merge"
                                            class="btn btn-danger btn-sm">
                                        <fa-icon [icon]="'times'"></fa-icon>
                                        <span class="d-none d-md-inline">Delete</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Pager is not implemented yet, so this is normal pagination instead -->
                <div *ngIf="patientCards && patientCards.length">
                    <div class="row justify-content-center">
                        <jhi-item-count [page]="page" [total]="totalItems"
                                        [itemsPerPage]="itemsPerPage"></jhi-item-count>
                    </div>
                    <div class="row justify-content-center">
                        <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage"
                                        [maxSize]="5"
                                        [rotate]="true" [boundaryLinks]="true"
                                        (pageChange)="loadPage(page)"></ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card jh-card">
                <h2>Awaiting consultations</h2>
                <div class="table-responsive" *ngIf="patientCards">
                    <table class="table table-striped">
                        <thead>
                        <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            <th jhiSortBy="appointmentDate"><span>Appointment Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            <th jhiSortBy="appointmentState"><span>Appointment State</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            <th jhiSortBy="mealPlanId"><span>Meal Plan Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            <th jhiSortBy="generalAdvice"><span>General Advice</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            <th jhiSortBy="bodyMeasurment.id"><span>Body Measurment</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            <th jhiSortBy="patientCard.id"><span>Patient Card</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let appointment of getAwaitingConsultations() ;trackBy: trackId">
                            <td><a [routerLink]="['/appointment', appointment.id, 'view' ]">{{appointment.id}}</a></td>
                            <td>{{appointment.appointmentDate | date:'mediumDate'}}</td>
                            <td>{{appointment.appointmentState}}</td>
                            <td>{{appointment.mealPlanId}}</td>
                            <td>{{appointment.generalAdvice}}</td>
                            <td>
                                <div *ngIf="appointment.bodyMeasurment">
                                    <a [routerLink]="['../body-measurment', appointment.bodyMeasurment?.id, 'view' ]" >{{appointment.bodyMeasurment?.id}}</a>
                                </div>
                            </td>
                            <td>
                                <div *ngIf="appointment.patientCard">
                                    <a [routerLink]="['../patient-card', appointment.patientCard?.id, 'view' ]" >{{appointment.patientCard?.id}}</a>
                                </div>
                            </td>
                            <td class="text-right">
                                <div class="btn-group flex-btn-group-container">
                                    <button type="submit"
                                            [routerLink]="['/appointment', appointment.id, 'view' ]"
                                            class="btn btn-info btn-sm">
                                        <fa-icon [icon]="'eye'"></fa-icon>
                                        <span class="d-none d-md-inline">View</span>
                                    </button>
                                    <button type="submit"
                                            [routerLink]="['/appointment', appointment.id, 'edit']"
                                            class="btn btn-primary btn-sm">
                                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                        <span class="d-none d-md-inline">Edit</span>
                                    </button>
                                    <button type="submit"
                                            [routerLink]="['/', 'appointment', { outlets: { popup: appointment.id + '/delete'} }]"
                                            replaceUrl="true"
                                            queryParamsHandling="merge"
                                            class="btn btn-danger btn-sm">
                                        <fa-icon [icon]="'times'"></fa-icon>
                                        <span class="d-none d-md-inline">Delete</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Pager is not implemented yet, so this is normal pagination instead -->
                <div *ngIf="patientCards && patientCards.length">
                    <div class="row justify-content-center">
                        <jhi-item-count [page]="page" [total]="totalItems"
                                        [itemsPerPage]="itemsPerPage"></jhi-item-count>
                    </div>
                    <div class="row justify-content-center">
                        <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage"
                                        [maxSize]="5"
                                        [rotate]="true" [boundaryLinks]="true"
                                        (pageChange)="loadPage(page)"></ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
