<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="dishType">
            <h2><span>Dish Type</span> {{dishType.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Description Polish</span></dt>
                <dd>
                    <span>{{dishType.descriptionPolish}}</span>
                </dd>
                <dt><span>Description English</span></dt>
                <dd>
                    <span>{{dishType.descriptionEnglish}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/dish-type', dishType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
