<div *ngIf="patientCard">
    <h2><span jhiTranslate="gatewayApp.appointmentsPatientCard.detail.title">Patient Card</span> {{patientCard.id}}</h2>
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/patient-card', patientCard.id, 'edit']"
            class="btn btn-primary">
        <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>

    <jhi-alert-error></jhi-alert-error>
</div>
<div class="row">
    <div class="col-lg-4 col-lg-offset-2">
        <div class="card jh-card">
            <h3>Patient details</h3>
            <dl *ngIf="patientCard" class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.appointmentsPatientCard.creationDate" [ngbTooltip]="'gatewayApp.appointmentsPatientCard.help.creationDate' | translate">Creation Date</span></dt>
                <dd>
                    <span>{{patientCard.creationDate}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.appointmentsPatientCard.dietitianId" [ngbTooltip]="'gatewayApp.appointmentsPatientCard.help.dietitianId' | translate">Dietitian Id</span></dt>
                <dd>
                    <span>{{patientCard.dietitianId}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.appointmentsPatientCard.patientId" [ngbTooltip]="'gatewayApp.appointmentsPatientCard.help.patientId' | translate">Patient Id</span></dt>
                <dd>
                    <span>{{patientCard.patientId}}</span>
                </dd>
            </dl>
        </div>
        <div class="card jh-card">
            <h3>BMI</h3>
        </div>
    </div>
    <div class="col-lg-4 col-lg-offset-2">
        <div class="card jh-card">
<!--            <h3>Appointments</h3>-->
            <jhi-appointment></jhi-appointment>
        </div>
    </div>
    <div class="col-lg-4 col-lg-offset-2">
        <div class="card jh-card">
<!--            <h3>Consultations</h3>-->
            <jhi-appointment></jhi-appointment>
        </div>
    </div>
</div>
