<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="nutritionDefinitionTranslation">
            <h2><span jhiTranslate="gatewayApp.productsNutritionDefinitionTranslation.detail.title">Nutrition Definition Translation</span> {{nutritionDefinitionTranslation.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.productsNutritionDefinitionTranslation.translation" [ngbTooltip]="'gatewayApp.productsNutritionDefinitionTranslation.help.translation' | translate">Translation</span></dt>
                <dd>
                    <span>{{nutritionDefinitionTranslation.translation}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.productsNutritionDefinitionTranslation.language" [ngbTooltip]="'gatewayApp.productsNutritionDefinitionTranslation.help.language' | translate">Language</span></dt>
                <dd>
                    <span>{{nutritionDefinitionTranslation.language}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.productsNutritionDefinitionTranslation.nutritionDefinitions">Nutrition Definitions</span></dt>
                <dd>
                    <div *ngIf="nutritionDefinitionTranslation.nutritionDefinitionsId">
                        <a [routerLink]="['/nutrition-definition', nutritionDefinitionTranslation.nutritionDefinitionsId, 'view']">{{nutritionDefinitionTranslation.nutritionDefinitionsTag}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/nutrition-definition-translation', nutritionDefinitionTranslation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
