<div *ngIf="appointment">
    <h2><span jhiTranslate="gatewayApp.appointmentsAppointment.detail.title">Appointment</span> {{appointment.id}}</h2>
    <jhi-alert-error></jhi-alert-error>
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/appointment', appointment.id, 'edit']"
            class="btn btn-primary">
        <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
<div class="row">
    <div class="col-lg-4 col-lg-offset-2">
        <div class="card jh-card">
            <h3>Appointment details</h3>
            <dl *ngIf="appointment" class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.appointmentsAppointment.appointmentDate" [ngbTooltip]="'gatewayApp.appointmentsAppointment.help.appointmentDate' | translate">Appointment Date</span></dt>
                <dd>
                    <span>{{appointment.appointmentDate}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.appointmentsAppointment.appointmentState" [ngbTooltip]="'gatewayApp.appointmentsAppointment.help.appointmentState' | translate">Appointment State</span></dt>
                <dd>
                    <span jhiTranslate="{{'gatewayApp.AppointmentState.' + appointment.appointmentState}}">{{appointment.appointmentState}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.appointmentsAppointment.mealPlanId" [ngbTooltip]="'gatewayApp.appointmentsAppointment.help.mealPlanId' | translate">Meal Plan Id</span></dt>
                <dd>
                    <span>{{appointment.mealPlanId}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.appointmentsAppointment.generalAdvice" [ngbTooltip]="'gatewayApp.appointmentsAppointment.help.generalAdvice' | translate">General Advice</span></dt>
                <dd>
                    <span>{{appointment.generalAdvice}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.appointmentsAppointment.bodyMeasurement">Body Measurement</span></dt>
                <dd>
                    <div *ngIf="appointment.bodyMeasurement">
                        <a [routerLink]="['/body-measurement', appointment.bodyMeasurement?.id, 'view']">{{appointment.bodyMeasurement?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.appointmentsAppointment.nutritionalInterview">Nutritional Interview</span></dt>
                <dd>
                    <div *ngIf="appointment.nutritionalInterview">
                        <a [routerLink]="['/nutritional-interview', appointment.nutritionalInterview?.id, 'view']">{{appointment.nutritionalInterview?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.appointmentsAppointment.patientCard">Patient Card</span></dt>
                <dd>
                    <div *ngIf="appointment.patientCard">
                        <a [routerLink]="['/patient-card', appointment.patientCard?.id, 'view']">{{appointment.patientCard?.id}}</a>
                    </div>
                </dd>
            </dl>
        </div>
    </div>
    <div class="col-lg-4 col-lg-offset-2">
        <div class="card jh-card">
            <h3>Nutritional interview</h3>
            <hr>
            <button *ngIf="!appointment.nutritionalInterview" id="jh-create-nutritional-interview" class="btn btn-primary float-right jh-create-entity create-nutritional-interview" [routerLink]="['/nutritional-interview/new']">
                <fa-icon [icon]="'plus'"></fa-icon>
                <span class="hidden-sm-down"  jhiTranslate="gatewayApp.appointmentsNutritionalInterview.home.createLabel">
                    Create new Nutritional Interview
                </span>
            </button>
            <div *ngIf="appointment.nutritionalInterview">
                <a [routerLink]="['/nutritional-interview', appointment.nutritionalInterview?.id, 'view']">{{appointment.nutritionalInterview?.id}}</a>
            </div>
        </div>
        <div class="card jh-card">
            <h3>Body measurement</h3>
            <hr>
            <button *ngIf="!appointment.bodyMeasurement" id="jh-create-entity-body-measurment" class="btn btn-primary float-right jh-create-entity create-body-measurement" [routerLink]="['/body-measurement/new']">
                <fa-icon [icon]="'plus'"></fa-icon>
                <span class="hidden-sm-down"  jhiTranslate="gatewayApp.appointmentsBodyMeasurement.home.createLabel">
                    Create new Body Measurement
                </span>
            </button>
            <div *ngIf="appointment.bodyMeasurement">
                <a [routerLink]="['/body-measurement', appointment.bodyMeasurement?.id, 'view']">{{appointment.bodyMeasurement?.id}}</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-lg-offset-2">
        <div class="card jh-card">
            <h3>MealPlan</h3>
            <hr>
        </div>
        <div class="card jh-card">
            <h3>Advice</h3>
            <hr>
            <span *ngIf="appointment.generalAdvice">{{appointment.generalAdvice}}</span>
        </div>
    </div>
</div>
