@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/flatly/variables';
@import '~bootstrap/scss/variables';

.navbar-version {
  font-size: 0.75rem;
  color: $navbar-dark-color;
}

.footer {
  padding-left: 1rem;
  padding-top: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.125);
}
