<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-patient-card-heading" jhiTranslate="gatewayApp.appointmentsPatientCard.home.createOrEditLabel">Create or edit a Patient Card</h2>
            <div class="card jh-card">
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
<!--                <div class="form-group">-->
<!--                    <label class="form-control-label" jhiTranslate="gatewayApp.appointmentsPatientCard.creationDate" for="field_creationDate" [ngbTooltip]="'gatewayApp.appointmentsPatientCard.help.creationDate' | translate">Creation Date</label>-->
<!--                    <div class="input-group">-->
<!--                        <input id="field_creationDate" type="text" class="form-control" name="creationDate" ngbDatepicker  #creationDateDp="ngbDatepicker" formControlName="creationDate"/>-->
<!--                        <span class="input-group-append">-->
<!--                            <button type="button" class="btn btn-secondary" (click)="creationDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>-->
<!--                        </span>-->
<!--                    </div>-->
<!--                    <div *ngIf="editForm.get('creationDate').invalid && (editForm.get('creationDate').dirty || editForm.get('creationDate').touched)">-->
<!--                        <small class="form-text text-danger"-->
<!--                               *ngIf="editForm.get('creationDate').errors.required" jhiTranslate="entity.validation.required">-->
<!--                        This field is required.-->
<!--                        </small>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label class="form-control-label" jhiTranslate="gatewayApp.appointmentsPatientCard.dietitianId" for="field_dietitianId" [ngbTooltip]="'gatewayApp.appointmentsPatientCard.help.dietitianId' | translate">Dietitian Id</label>-->
<!--                    <input type="number" class="form-control" name="dietitianId" id="field_dietitianId"-->
<!--                           formControlName="dietitianId"/>-->
<!--                    <div *ngIf="editForm.get('dietitianId').invalid && (editForm.get('dietitianId').dirty || editForm.get('dietitianId').touched)">-->
<!--                        <small class="form-text text-danger"-->
<!--                               *ngIf="editForm.get('dietitianId').errors.required" jhiTranslate="entity.validation.required">-->
<!--                        This field is required.-->
<!--                        </small>-->
<!--                        <small class="form-text text-danger"-->
<!--                            [hidden]="!editForm.get('dietitianId')?.errors?.number" jhiTranslate="entity.validation.number">-->
<!--                            This field should be a number.-->
<!--                        </small>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label class="form-control-label" jhiTranslate="gatewayApp.appointmentsPatientCard.patientId" for="field_patientId" [ngbTooltip]="'gatewayApp.appointmentsPatientCard.help.patientId' | translate">Patient Id</label>-->
<!--                    <input type="number" class="form-control" name="patientId" id="field_patientId"-->
<!--                           formControlName="patientId"/>-->
<!--                    <div *ngIf="editForm.get('patientId').invalid && (editForm.get('patientId').dirty || editForm.get('patientId').touched)">-->
<!--                        <small class="form-text text-danger"-->
<!--                               *ngIf="editForm.get('patientId').errors.required" jhiTranslate="entity.validation.required">-->
<!--                        This field is required.-->
<!--                        </small>-->
<!--                        <small class="form-text text-danger"-->
<!--                            [hidden]="!editForm.get('patientId')?.errors?.number" jhiTranslate="entity.validation.number">-->
<!--                            This field should be a number.-->
<!--                        </small>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.appointmentsPatientCard.patientLastName" for="field_patientLastName" [ngbTooltip]="'gatewayApp.appointmentsPatientCard.help.patientLastName' | translate">Patient Last Name</label>
                    <input type="text" class="form-control" name="patientLastName" id="field_patientLastName"
                           formControlName="patientLastName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.appointmentsPatientCard.patientFirstName" for="field_patientFirstName" [ngbTooltip]="'gatewayApp.appointmentsPatientCard.help.patientFirstName' | translate">Patient First Name</label>
                    <input type="text" class="form-control" name="patientFirstName" id="field_patientFirstName"
                           formControlName="patientFirstName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.appointmentsPatientCard.patientGender" for="field_patientGender" [ngbTooltip]="'gatewayApp.appointmentsPatientCard.help.patientGender' | translate">Patient Gender</label>
                    <select class="form-control" name="patientGender" formControlName="patientGender" id="field_patientGender">
                        <option value="FEMALE">{{'gatewayApp.Gender.FEMALE' | translate}}</option>
                        <option value="MALE">{{'gatewayApp.Gender.MALE' | translate}}</option>
                        <option value="OTHER">{{'gatewayApp.Gender.OTHER' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.appointmentsPatientCard.patientEmail" for="field_patientEmail" [ngbTooltip]="'gatewayApp.appointmentsPatientCard.help.patientEmail' | translate">Patient Email</label>
                    <input type="text" class="form-control" name="patientEmail" id="field_patientEmail"
                           formControlName="patientEmail"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.appointmentsPatientCard.patientPhone" for="field_patientPhone" [ngbTooltip]="'gatewayApp.appointmentsPatientCard.help.patientPhone' | translate">Patient Phone</label>
                    <input type="text" class="form-control" name="patientPhone" id="field_patientPhone"
                           formControlName="patientPhone"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.appointmentsPatientCard.patientDateOfBirth" for="field_patientDateOfBirth" [ngbTooltip]="'gatewayApp.appointmentsPatientCard.help.patientDateOfBirth' | translate">Creation Date</label>
                    <div class="input-group">
                        <input id="field_patientDateOfBirth" type="text" class="form-control" name="patientDateOfBirth" ngbDatepicker  #patientDateOfBirthDp="ngbDatepicker" formControlName="patientDateOfBirth"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="patientDateOfBirthDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('patientDateOfBirth').invalid && (editForm.get('patientDateOfBirth').dirty || editForm.get('patientDateOfBirth').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('patientDateOfBirth').errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.appointmentsPatientCard.additionalPatientInfo" for="field_additionalPatientInfo" [ngbTooltip]="'gatewayApp.appointmentsPatientCard.help.additionalPatientInfo' | translate">Additional Patient Info</label>
                    <input type="text" class="form-control" name="additionalPatientInfo" id="field_additionalPatientInfo"
                           formControlName="additionalPatientInfo"/>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
