<div class="card jh-card">
    <div class="col-8">
        <div *ngIf="mealPlan">
            <h2><span>Meal Plan</span> {{mealPlan.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span ngbTooltip="Id of author of the plan">Author Id</span></dt>
                <dd>
                    <span>{{mealPlan.authorId}}</span>
                </dd>
                <dt><span ngbTooltip="Creation date of the plan">Creation Date</span></dt>
                <dd>
                    <span>{{mealPlan.creationDate}}</span>
                </dd>
                <dt><span ngbTooltip="Plan name">Name</span></dt>
                <dd>
                    <span>{{mealPlan.name}}</span>
                </dd>
                <dt><span ngbTooltip="Flag specifying if meal plan is visible in author&#39;s list of meal plans">Is Visible</span>
                </dt>
                <dd>
                    <span>{{mealPlan.isVisible}}</span>
                </dd>
                <dt><span ngbTooltip="Flag specifying if meal plan is editable">Is Locked</span></dt>
                <dd>
                    <span>{{mealPlan.isLocked}}</span>
                </dd>
                <dt><span ngbTooltip="Language of meal plan">Language Id</span></dt>
                <dd>
                    <span>{{mealPlan.languageId}}</span>
                </dd>
                <dt><span ngbTooltip="Number of days in plan">Number Of Days</span></dt>
                <dd>
                    <span>{{mealPlan.numberOfDays}}</span>
                </dd>
                <dt><span ngbTooltip="Number of meals per day">Number Of Meals Per Day</span></dt>
                <dd>
                    <span>{{mealPlan.numberOfMealsPerDay}}</span>
                </dd>
                <dt><span ngbTooltip="Amount of total energy per day in kcal">Total Daily Energy Kcal</span></dt>
                <dd>
                    <span>{{mealPlan.totalDailyEnergyKcal}}</span>
                </dd>
                <dt><span ngbTooltip="Percent of proteins in total daily energy.
Sum of percents of protein, fat and carbohydrates must not be larger than 100">Percent Of Protein</span></dt>
                <dd>
                    <span>{{mealPlan.percentOfProtein}}</span>
                </dd>
                <dt><span ngbTooltip="Percent of fats in total daily energy.
Sum of percents of protein, fat and carbohydrates must not be larger than 100">Percent Of Fat</span></dt>
                <dd>
                    <span>{{mealPlan.percentOfFat}}</span>
                </dd>
                <dt><span ngbTooltip="Percent of carbohydrates in total daily energy.
Sum of percents of protein, fat and carbohydrates must not be larger than 100">Percent Of Carbohydrates</span></dt>
                <dd>
                    <span>{{mealPlan.percentOfCarbohydrates}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/meal-plan', mealPlan.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
<div class="jh-card card">
    <div class="container-fluid">
        <header>
            <div class="row d-none d-sm-flex p-1 bg-dark-app text-white">
                <h5 class="col-sm p-1 text-center"></h5>
                <h5 class="col-sm p-1 text-center" *ngFor="let meal of mealPlan.mealDefinitions">
                    Meal {{meal.ordinalNumber}}</h5>
            </div>
        </header>
        <div class="row border border-right-0 border-bottom-0" *ngFor="let day of mealPlan.days">
            <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate bg-dark-app text-white">
                <h5 class="col-sm p-1 text-center">Day {{day.ordinalNumber}}</h5>
            </div>
            <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate " *ngFor="let meal of day.meals">
                <button type="button"
                        (click)="viewMeal(meal)"
                        class="btn btn-info btn-sm">
                    <fa-icon [icon]="'eye'"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                </button>
                <h5 class="row align-items-center">
                    <small class="col d-sm-none text-center text-muted">Meal {{meal.ordinalNumber}}</small>
                </h5>
                <h5 class="row align-items-center" *ngIf="meal.mealRecipes && meal.mealRecipes.length > 0">
                    <span class="col-1">Recipes</span>
                </h5>
                <a class="event d-block p-1 pl-2 pr-2 mb-1 rounded text-wrap small bg-info text-white"
                   title="{{recipe.recipe ? recipe.recipe.name : recipe.recipeId}}"
                   *ngFor="let recipe of meal.mealRecipes"
                   routerLink="/recipe/{{recipe.recipeId}}/view">
                    <span
                        class="event d-block p-1 pl-2 pr-2 mb-1 rounded text-wrap small bg-light text-dark">{{recipe.amount}}
                        x g</span>
                    {{recipe.recipe ? recipe.recipe.name : recipe.recipeId}}
                </a>
                <h5 class="row align-items-center" *ngIf="meal.mealProducts && meal.mealProducts.length > 0">
                    <span class="col-1">Products</span>
                </h5>
                <a class="event d-block p-1 pl-2 pr-2 mb-1 rounded text-wrap small bg-info text-white"
                   title="{{product.product ? product.product.description : product.productId}}"
                   *ngFor="let product of meal.mealProducts"
                   routerLink="/product/{{product.productId}}/view">
                    <span
                        class="event d-block p-1 pl-2 pr-2 mb-1 rounded text-wrap small bg-light text-dark">{{product.amount}}
                        x {{product.householdMeasureDescription ? product.householdMeasureDescription : 'g'}}</span>
                    {{product.product ? product.product.description : product.productId}}
                </a>
            </div>
        </div>
        <div class="w-100"></div>
    </div>
</div>
