<div class="card jh-card">
    <h2 id="jhi-meal-plan-heading">Create or edit a Meal Plan</h2>
    <ul class="nav nav-tabs">
        <li class="nav-item" *ngFor="let tab of getTabs()">
            <a class="nav-link" [ngClass]="{'active': tab == currentTab}" (click)="currentTab=tab">{{tab}}</a>
        </li>
    </ul>
    <div class="col-8" *ngIf="currentTab=='SETTINGS'">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!mealPlan.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                           [(ngModel)]="mealPlan.id" readonly/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_authorId" ngbTooltip="Id of author of the plan">Author
                        Id</label>
                    <input type="number" class="form-control" name="authorId" id="field_authorId"
                           [(ngModel)]="mealPlan.authorId" required/>
                    <div [hidden]="!(editForm.controls.authorId?.dirty && editForm.controls.authorId?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.authorId?.errors?.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.authorId?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_creationDate" ngbTooltip="Creation date of the plan">Creation
                        Date</label>
                    <div class="input-group">
                        <input id="field_creationDate" type="text" class="form-control" name="creationDate"
                               ngbDatepicker #creationDateDp="ngbDatepicker" [(ngModel)]="mealPlan.creationDate"
                               required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="creationDateDp.toggle()"><fa-icon
                                [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.creationDate?.dirty && editForm.controls.creationDate?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.creationDate?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name" ngbTooltip="Plan name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           [(ngModel)]="mealPlan.name" minlength="1"/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.name?.errors?.minlength">
                            This field is required to be at least 1 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_isVisible"
                           ngbTooltip="Flag specifying if meal plan is visible in author&#39;s list of meal plans">Is
                        Visible</label>
                    <input type="checkbox" class="form-control" name="isVisible" id="field_isVisible"
                           [(ngModel)]="mealPlan.isVisible"/>
                    <div [hidden]="!(editForm.controls.isVisible?.dirty && editForm.controls.isVisible?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.isVisible?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_isLocked"
                           ngbTooltip="Flag specifying if meal plan is editable">Is Locked</label>
                    <input type="checkbox" class="form-control" name="isLocked" id="field_isLocked"
                           [(ngModel)]="mealPlan.isLocked"/>
                    <div [hidden]="!(editForm.controls.isLocked?.dirty && editForm.controls.isLocked?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.isLocked?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_languageId" ngbTooltip="Language of meal plan">Language
                        Id</label>
                    <input type="number" class="form-control" name="languageId" id="field_languageId"
                           [(ngModel)]="mealPlan.languageId" required/>
                    <div [hidden]="!(editForm.controls.languageId?.dirty && editForm.controls.languageId?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.languageId?.errors?.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.languageId?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_numberOfDays" ngbTooltip="Number of days in plan">Number
                        Of Days</label>
                    <input type="number" class="form-control" name="numberOfDays" id="field_numberOfDays"
                           [(ngModel)]="mealPlan.numberOfDays" required min="1" jhiMin="1"
                           (change)="numberOfDaysChanged()"/>
                    <div [hidden]="!(editForm.controls.numberOfDays?.dirty && editForm.controls.numberOfDays?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.numberOfDays?.errors?.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.numberOfDays?.errors?.min">
                            This field should be at least 1.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.numberOfDays?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_numberOfMealsPerDay"
                           ngbTooltip="Number of meals per day">Number Of Meals Per Day</label>
                    <input type="number" class="form-control" name="numberOfMealsPerDay" id="field_numberOfMealsPerDay"
                           [(ngModel)]="mealPlan.numberOfMealsPerDay" required min="1" jhiMin="1"
                           (change)="numberOfMealsPerDayChanged()"/>
                    <div
                        [hidden]="!(editForm.controls.numberOfMealsPerDay?.dirty && editForm.controls.numberOfMealsPerDay?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.numberOfMealsPerDay?.errors?.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.numberOfMealsPerDay?.errors?.min">
                            This field should be at least 1.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.numberOfMealsPerDay?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_totalDailyEnergyKcal"
                           ngbTooltip="Amount of total energy per day in kcal">Total Daily Energy Kcal</label>
                    <input type="number" class="form-control" name="totalDailyEnergyKcal"
                           id="field_totalDailyEnergyKcal"
                           [(ngModel)]="mealPlan.totalDailyEnergyKcal" required min="1" jhiMin="1"/>
                    <div
                        [hidden]="!(editForm.controls.totalDailyEnergyKcal?.dirty && editForm.controls.totalDailyEnergyKcal?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.totalDailyEnergyKcal?.errors?.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.totalDailyEnergyKcal?.errors?.min">
                            This field should be at least 1.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.totalDailyEnergyKcal?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_percentOfProtein" ngbTooltip="Percent of proteins in total daily energy.
Sum of percents of protein, fat and carbohydrates must not be larger than 100">Percent Of Protein</label>
                    <input type="number" class="form-control" name="percentOfProtein" id="field_percentOfProtein"
                           [(ngModel)]="mealPlan.percentOfProtein" required min="0" jhiMin="0" max="100" jhiMax="100"/>
                    <div
                        [hidden]="!(editForm.controls.percentOfProtein?.dirty && editForm.controls.percentOfProtein?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.percentOfProtein?.errors?.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.percentOfProtein?.errors?.min">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.percentOfProtein?.errors?.max">
                            This field cannot be more than 100.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.percentOfProtein?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_percentOfFat" ngbTooltip="Percent of fats in total daily energy.
Sum of percents of protein, fat and carbohydrates must not be larger than 100">Percent Of Fat</label>
                    <input type="number" class="form-control" name="percentOfFat" id="field_percentOfFat"
                           [(ngModel)]="mealPlan.percentOfFat" required min="0" jhiMin="0" max="100" jhiMax="100"/>
                    <div [hidden]="!(editForm.controls.percentOfFat?.dirty && editForm.controls.percentOfFat?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.percentOfFat?.errors?.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.percentOfFat?.errors?.min">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.percentOfFat?.errors?.max">
                            This field cannot be more than 100.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.percentOfFat?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_percentOfCarbohydrates" ngbTooltip="Percent of carbohydrates in total daily energy.
Sum of percents of protein, fat and carbohydrates must not be larger than 100">Percent Of Carbohydrates</label>
                    <input type="number" class="form-control" name="percentOfCarbohydrates"
                           id="field_percentOfCarbohydrates"
                           [(ngModel)]="mealPlan.percentOfCarbohydrates" required min="0" jhiMin="0" max="100"
                           jhiMax="100"/>
                    <div
                        [hidden]="!(editForm.controls.percentOfCarbohydrates?.dirty && editForm.controls.percentOfCarbohydrates?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.percentOfCarbohydrates?.errors?.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.percentOfCarbohydrates?.errors?.min">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.percentOfCarbohydrates?.errors?.max">
                            This field cannot be more than 100.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.percentOfCarbohydrates?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div [hidden]="!(editForm.controls.days?.dirty && editForm.controls.days?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.days?.errors?.required">
                        This field is required.
                    </small>
                </div>
                <div
                    [hidden]="!(editForm.controls.mealDefinitions?.dirty && editForm.controls.mealDefinitions?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.mealDefinitions?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>
        </form>
    </div>

    <div class="container-fluid" *ngIf="currentTab == 'MEAL PLAN GRID'">
        <header>
            <div class="row d-none d-sm-flex p-1 bg-dark-app text-white">
                <h5 class="col-sm p-1 text-center"></h5>
                <h5 class="col-sm p-1 text-center" *ngFor="let meal of mealPlan.mealDefinitions">
                    Meal {{meal.ordinalNumber}}</h5>
            </div>
        </header>
        <div class="row border border-right-0 border-bottom-0" *ngFor="let day of mealPlan.days">
            <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate bg-dark-app text-white">
                <h5 class="col-sm p-1 text-center">Day {{day.ordinalNumber}}</h5>
            </div>
            <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate " *ngFor="let meal of day.meals">
                <button type="button"
                        (click)="editMeal(meal)"
                        class="btn btn-primary btn-sm">
                    <fa-icon [icon]="'pencil-alt'"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                </button>
                <h5 class="row align-items-center">
                    <small class="col d-sm-none text-center text-muted">Meal {{meal.ordinalNumber}}</small>
                </h5>
                <h5 class="row align-items-center" *ngIf="meal.mealRecipes && meal.mealRecipes.length > 0">
                    <span class="col-1">Recipes</span>
                </h5>
                <a class="event d-block p-1 pl-2 pr-2 mb-1 rounded text-wrap small bg-info text-white"
                   title="{{recipe.recipe ? recipe.recipe.name : recipe.recipeId}}"
                   *ngFor="let recipe of meal.mealRecipes"
                   routerLink="/recipe/{{recipe.recipeId}}/view">
                    <span
                        class="event d-block p-1 pl-2 pr-2 mb-1 rounded text-wrap small bg-light text-dark">{{recipe.amount}}
                        x g</span>
                    {{recipe.recipe ? recipe.recipe.name : recipe.recipeId}}
                </a>
                <h5 class="row align-items-center" *ngIf="meal.mealProducts && meal.mealProducts.length > 0">
                    <span class="col-1">Products</span>
                </h5>
                <a class="event d-block p-1 pl-2 pr-2 mb-1 rounded text-wrap small bg-info text-white"
                   title="{{product.product ? product.product.description : product.productId}}"
                   *ngFor="let product of meal.mealProducts"
                   routerLink="/product/{{product.productId}}/view">
                    <span
                        class="event d-block p-1 pl-2 pr-2 mb-1 rounded text-wrap small bg-light text-dark">{{product.amount}}
                        x {{product.householdMeasureDescription ? product.householdMeasureDescription : 'g'}}</span>
                    {{product.product ? product.product.description : product.productId}}
                </a>
            </div>
        </div>
        <div class="w-100"></div>
    </div>
    <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
        </button>
        <button type="button" id="next-tab" class="btn btn-info" (click)="currentTab = 'MEAL PLAN GRID'"
                *ngIf="currentTab == 'SETTINGS'">
            <fa-icon [icon]="'arrow-right'"></fa-icon>&nbsp;<span>Next</span>
        </button>
        <button type="button" id="previous-tab" class="btn btn-info" (click)="currentTab = 'SETTINGS'"
                *ngIf="currentTab == 'MEAL PLAN GRID'">
            <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span>Previous</span>
        </button>
        <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                class="btn btn-primary">
            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
        </button>
    </div>
</div>

