<div>
    <h2 id="page-heading">
        <span>Product Portions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product-portion" [routerLink]="['/product-portion/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Product Portion
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="productPortions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Amount</span></th>
            <th><span>Product Id</span></th>
            <th><span>Household Measure Id</span></th>
            <th><span>Recipe Section</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let productPortion of productPortions ;trackBy: trackId">
                <td><a [routerLink]="['/product-portion', productPortion.id, 'view' ]">{{productPortion.id}}</a></td>
                <td>{{productPortion.amount}}</td>
                <td>{{productPortion.productId}}</td>
                <td>{{productPortion.householdMeasureId}}</td>
                <td>
                    <div *ngIf="productPortion.recipeSection">
                        <a [routerLink]="['../recipe-section', productPortion.recipeSection?.id, 'view' ]" >{{productPortion.recipeSection?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/product-portion', productPortion.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/product-portion', productPortion.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'product-portion', { outlets: { popup: productPortion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
