<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-product-portion-heading">Create or edit a Product Portion</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!productPortion.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="productPortion.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_amount" ngbTooltip="Amount of Product in household measure units
If household measure is null then amount is in grams.">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                        [(ngModel)]="productPortion.amount" required min="0" jhiMin="0"/>
                    <div [hidden]="!(editForm.controls.amount?.dirty && editForm.controls.amount?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.amount?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.amount?.errors?.min">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.amount?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_productId">Product Id</label>
                    <input type="number" class="form-control" name="productId" id="field_productId"
                        [(ngModel)]="productPortion.productId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_householdMeasureId">Household Measure Id</label>
                    <input type="number" class="form-control" name="householdMeasureId" id="field_householdMeasureId"
                        [(ngModel)]="productPortion.householdMeasureId" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_recipeSection">Recipe Section</label>
                    <select class="form-control" id="field_recipeSection" name="recipeSection" [(ngModel)]="productPortion.recipeSection"  required>
                        <option *ngIf="!editForm.value.recipeSection" [ngValue]="null" selected></option>
                        <option [ngValue]="recipeSectionOption.id === productPortion.recipeSection?.id ? productPortion.recipeSection : recipeSectionOption" *ngFor="let recipeSectionOption of recipesections; trackBy: trackRecipeSectionById">{{recipeSectionOption.id}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.recipeSection?.dirty && editForm.controls.recipeSection?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.recipeSection?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
