<div class="card jh-card">
    <h2>Meal {{meal.ordinalNumber}}
        <button type="button" id="save-entity" class="btn btn-danger" (click)="passBack(meal)">
            <fa-icon [icon]="'times'"></fa-icon>&nbsp;<span>Close</span>
        </button>
    </h2>

    <h3>Products</h3>
    <table>
        <tr *ngFor="let mealProduct of meal.mealProducts">
            <td>{{mealProduct.product.description}}</td>
            <td>: {{mealProduct.amount}}</td>
            <td> {{getMeasureDisplayDescription(mealProduct.product, mealProduct.householdMeasureId)}}</td>
        </tr>
    </table>
    <h3>Recipes</h3>
    <table>
        <tr *ngFor="let mealRecipe of meal.mealRecipes">
            <td>{{mealRecipe.recipe.name}}</td>
            <td>: {{mealRecipe.amount}}</td>
            <td> g</td>
        </tr>
    </table>
</div>
