<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="dietType">
            <h2><span jhiTranslate="gatewayApp.productsDietType.detail.title">Diet Type</span> {{dietType.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.productsDietType.name" [ngbTooltip]="'gatewayApp.productsDietType.help.name' | translate">Name</span></dt>
                <dd>
                    <span>{{dietType.name}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/diet-type', dietType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
