<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-kitchen-appliance-heading">Create or edit a Kitchen Appliance</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!kitchenAppliance.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="kitchenAppliance.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_namePolish" ngbTooltip="Polish name of kitchen appliance">Name Polish</label>
                    <input type="text" class="form-control" name="namePolish" id="field_namePolish"
                        [(ngModel)]="kitchenAppliance.namePolish" minlength="1"/>
                    <div [hidden]="!(editForm.controls.namePolish?.dirty && editForm.controls.namePolish?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.namePolish?.errors?.minlength">
                        This field is required to be at least 1 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nameEnglish" ngbTooltip="English name of kitchen appliance">Name English</label>
                    <input type="text" class="form-control" name="nameEnglish" id="field_nameEnglish"
                        [(ngModel)]="kitchenAppliance.nameEnglish" minlength="1"/>
                    <div [hidden]="!(editForm.controls.nameEnglish?.dirty && editForm.controls.nameEnglish?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nameEnglish?.errors?.minlength">
                        This field is required to be at least 1 characters.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
