<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-product-heading">Create or edit a Product</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!product.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                           [(ngModel)]="product.id" readonly/>
                </div>
                <div class="form-group" [hidden]="!product.source">
                    <label class="form-control-label" for="field_source"
                           ngbTooltip="Specifying source if product is imported, prefarably url address if possible">Source</label>
                    <input type="text" class="form-control" name="source" id="field_source"
                           [(ngModel)]="product.source" readonly/>
                </div>
                <div class="form-group" *ngIf="product.author">
                    <label class="form-control-label" for="field_author">Author</label>
                    <input type="text" class="form-control" name="author" id="field_author"
                           [(ngModel)]="product.author.login" readonly/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description" ngbTooltip="Short description of Product">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           [(ngModel)]="product.description" required minlength="1"/>
                    <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.description?.errors?.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.description?.errors?.minlength">
                            This field is required to be at least 1 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_language">Language</label>
                    <select class="form-control" id="field_language" name="language" [(ngModel)]="product.language"
                            required (change)="fetchSubcategories()">
                        <!--<option *ngIf="!editForm.value.language" [ngValue]="null" selected></option>-->
                        <option
                            [ngValue]="languageOption.id === product.language?.id ? product.language : languageOption"
                            *ngFor="let languageOption of languages; trackBy: trackLanguageById">{{languageOption.englishName}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.language?.dirty && editForm.controls.language?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.language?.errors?.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_category">Category</label>
                    <select class="form-control" id="field_category" name="category" [(ngModel)]="selectedCategory"
                            (change)="fetchSubcategories()" required="">
                        <option
                            [ngValue]="productCategoryOption.id === selectedCategory?.id ? selectedCategory : productCategoryOption"
                            *ngFor="let productCategoryOption of productCategories; trackBy: trackProductCategoryById">{{productCategoryOption.descriptionEnglish}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_subcategory">Subcategory</label>
                    <div class="row">
                        <select class="form-control col-5" id="field_subcategory" name="subcategory"
                                [(ngModel)]="product.subcategory" (click)="selectedExistingSubcategory()"
                                [required]="!newSubcategory">
                            <option [ngValue]="null"></option>
                            <option
                                [ngValue]="productSubcategoryOption.id === product.subcategory?.id ? product.subcategory : productSubcategoryOption"
                                *ngFor="let productSubcategoryOption of productSubcategories; trackBy: trackProductSubcategoryById">{{productSubcategoryOption.description}}</option>
                        </select>
                        <div
                            [hidden]="!(editForm.controls.subcategory?.dirty && editForm.controls.subcategory?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.isFinal?.errors?.required">
                                This field is required.
                            </small>
                        </div>
                        <div class="col-2 text-center">-- SELECT OR NEW --</div>
                        <input id="new-subcategory" type="text" class="form-control col-5" name="newSubcategory"
                               (keyup)="selectedNewSubcategory()" [(ngModel)]="newSubcategory"
                               [required]="!product.subcategory" minlength="1">
                    </div>
                </div>
                <div class="form-group">
                    <label for="field_suitableDiets">Suitable Diets</label>
                    <select class="form-control" id="field_suitableDiets" multiple name="suitableDiets"
                            [(ngModel)]="product.suitableDiets">
                        <option [ngValue]="getSelected(product.suitableDiets, dietTypeOption)"
                                *ngFor="let dietTypeOption of diettypes; trackBy: trackDietTypeById">{{dietTypeOption.nameEnglish}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="field_unsuitableDiets">Unsuitable Diets</label>
                    <select class="form-control" id="field_unsuitableDiets" multiple name="unsuitableDiets"
                            [(ngModel)]="product.unsuitableDiets">
                        <option [ngValue]="getSelected(product.unsuitableDiets, dietTypeOption)"
                                *ngFor="let dietTypeOption of diettypes; trackBy: trackDietTypeById">{{dietTypeOption.nameEnglish}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Nutritions</label>
                    <table>
                        <tr *ngFor="let nutritionData of product.nutritionData; let index = index">
                            <td>{{nutritionData.nutritionDefinition.descriptionEnglish}}</td>
                            <td><input type="number" class="form-control" name="nutritionDataValue{{index}}"
                                       [(ngModel)]="nutritionData.nutritionValue" jhiMin="0"
                                       placeholder="Nutrition value">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="form-group">
                    <label>Household Measures</label>
                    <table>
                        <tr
                            *ngFor="let householdMeasure of product.householdMeasures; let last = last; let index = index">
                            <td>
                                <input type="checkbox" class="form-control" name="householdMeasureIsVisible{{index}}"
                                       [(ngModel)]="householdMeasure.isVisible"
                                       (click)="createNewHouseholdMeasure(last)"/>
                            </td>
                            <td>
                                <input type="text" class="form-control" name="householdMeasureDescription{{index}}"
                                       [(ngModel)]="householdMeasure.description"
                                       (keyup)="createNewHouseholdMeasure(last)"
                                       [required]="householdMeasure.gramsWeight && !householdMeasure.description"
                                       placeholder="Description"/>
                            </td>
                            <td>
                                <input type="number" class="form-control" name="householdMeasureGramsWeight{{index}}"
                                       [(ngModel)]="householdMeasure.gramsWeight"
                                       (keyup)="createNewHouseholdMeasure(last)"
                                       [required]="householdMeasure.description && !householdMeasure.gramsWeight"
                                       jhiMin="0.00001" placeholder="Grams weight"/>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                        class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
