<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="product">
            <h2><span>Product</span> {{product.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span ngbTooltip="Specifying source if product is imported, prefarably url address if possible">Source</span></dt>
                <dd>
                    <span>{{product.source}}</span>
                </dd>
                <dt><span ngbTooltip="Short description of Product">Description</span></dt>
                <dd>
                    <span>{{product.description}}</span>
                </dd>
                <dt><span>Language</span></dt>
                <dd>
                    <div *ngIf="product.language">
                        <a [routerLink]="['/language', product.language?.id, 'view']">{{product.language?.englishName}}</a>
                    </div>
                </dd>
                <dt><span>Category</span></dt>
                <dd>
                    <div *ngIf="product.subcategory?.category">
                        <a [routerLink]="['/product-category', product.subcategory.category?.id, 'view']">{{product.subcategory.category?.descriptionEnglish}}</a>
                    </div>
                </dd>
                <dt><span>Subcategory</span></dt>
                <dd>
                    <div *ngIf="product.subcategory">
                        <a [routerLink]="['/product-subcategory', product.subcategory?.id, 'view']">{{product.subcategory?.description}}</a>
                    </div>
                </dd>
                <dt><span>Author</span></dt>
                <dd>
                    {{product.author?.login}}
                </dd>
                <dt><span>Suitable Diets</span></dt>
                <dd>
                    <span *ngFor="let suitableDiets of product.suitableDiets; let last = last">
                        <a [routerLink]="['/diet-type', suitableDiets?.id, 'view' ]">{{suitableDiets.nameEnglish}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span>Unsuitable Diets</span></dt>
                <dd>
                    <span *ngFor="let unsuitableDiets of product.unsuitableDiets; let last = last">
                        <a [routerLink]="['/diet-type', unsuitableDiets?.id, 'view' ]">{{unsuitableDiets.nameEnglish}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span>Nutritions</span></dt>
                <dd>
                    <table>
                        <tr *ngFor="let nutritionData of product.nutritionData">
                            <td>{{nutritionData.nutritionDefinition.descriptionEnglish}} [{{nutritionData.nutritionDefinition.units}}]:</td>
                            <td>{{nutritionData.nutritionValue}}</td>
                        </tr>
                    </table>
                </dd>
                <dt><span>Household Measures</span></dt>
                <dd>
                    <table>
                        <tr *ngFor="let householdMeasure of product.householdMeasures">
                            <td>{{householdMeasure.description}}</td>
                            <td>{{householdMeasure.gramsWeight}}g</td>
                        </tr>
                    </table>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product', product.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
