<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-recipe-heading" jhiTranslate="gatewayApp.recipesRecipe.home.createOrEditLabel">Create or edit a Recipe</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="card jh-card">
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.recipesRecipe.name" for="field_name" [ngbTooltip]="'gatewayApp.recipesRecipe.help.name' | translate">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 1 }">
                        This field is required to be at least 1 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.recipesRecipe.preparationTimeMinutes" for="field_preparationTimeMinutes" [ngbTooltip]="'gatewayApp.recipesRecipe.help.preparationTimeMinutes' | translate">Preparation Time Minutes</label>
                    <input type="number" class="form-control" name="preparationTimeMinutes" id="field_preparationTimeMinutes"
                           formControlName="preparationTimeMinutes"/>
                    <div *ngIf="editForm.get('preparationTimeMinutes').invalid && (editForm.get('preparationTimeMinutes').dirty || editForm.get('preparationTimeMinutes').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('preparationTimeMinutes').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('preparationTimeMinutes').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('preparationTimeMinutes')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.recipesRecipe.numberOfPortions" for="field_numberOfPortions" [ngbTooltip]="'gatewayApp.recipesRecipe.help.numberOfPortions' | translate">Number Of Portions</label>
                    <input type="number" class="form-control" name="numberOfPortions" id="field_numberOfPortions"
                           formControlName="numberOfPortions"/>
                    <div *ngIf="editForm.get('numberOfPortions').invalid && (editForm.get('numberOfPortions').dirty || editForm.get('numberOfPortions').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('numberOfPortions').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('numberOfPortions').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('numberOfPortions')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.recipesRecipe.image" for="field_image" [ngbTooltip]="'gatewayApp.recipesRecipe.help.image' | translate">Image</label>
                    <div>
                        <img [src]="'data:' + editForm.get('imageContentType').value + ';base64,' + editForm.get('image').value" style="max-height: 100px;" *ngIf="editForm.get('image').value" alt="recipe image"/>
                        <div *ngIf="editForm.get('image').value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{editForm.get('imageContentType').value}}, {{byteSize(editForm.get('image').value)}}</span>
                            <button type="button" (click)="clearInputImage('image', 'imageContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_image" (change)="setFileData($event, 'image', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="image" id="field_image"
                           formControlName="image"/>
                    <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                           formControlName="imageContentType" />
                    <div *ngIf="editForm.get('image').invalid && (editForm.get('image').dirty || editForm.get('image').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('image').errors.maxbytes" jhiTranslate="entity.validation.maxbytes" [translateValues]="{ max: 5000000 }">
                            This field cannot be more than 5000000.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.recipesRecipe.authorId" for="field_authorId" [ngbTooltip]="'gatewayApp.recipesRecipe.help.authorId' | translate">Author Id</label>
                    <input type="number" class="form-control" name="authorId" id="field_authorId"
                           formControlName="authorId" readonly/>
                    <div *ngIf="editForm.get('authorId').invalid && (editForm.get('authorId').dirty || editForm.get('authorId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('authorId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('authorId')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.recipesRecipe.isFinal" for="field_isFinal" [ngbTooltip]="'gatewayApp.recipesRecipe.help.isFinal' | translate">Is Final</label>
                    <input type="checkbox" class="form-control" name="isFinal" id="field_isFinal"
                           formControlName="isFinal"/>
                    <div *ngIf="editForm.get('isFinal').invalid && (editForm.get('isFinal').dirty || editForm.get('isFinal').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('isFinal').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.recipesRecipe.language" for="field_language" [ngbTooltip]="'gatewayApp.recipesRecipe.help.language' | translate">Language</label>
                    <select class="form-control" id="field_language" name="language"
                            formControlName="language">
                        <option *ngIf="!editForm.get('language').value" [ngValue]="null" selected></option>
                        <option
                            [ngValue]="languageOption === editForm.get('language').value ? editForm.get('language').value : languageOption"
                            *ngFor="let languageOption of languages">{{languageOption}}</option>
                    </select>
                </div>
<!--                <div class="form-group">-->
<!--                    <label class="form-control-label" jhiTranslate="gatewayApp.recipesRecipe.totalGramsWeight" for="field_totalGramsWeight" [ngbTooltip]="'gatewayApp.recipesRecipe.help.totalGramsWeight' | translate">Total Grams Weight</label>-->
<!--                    <input type="number" class="form-control" name="totalGramsWeight" id="field_totalGramsWeight"-->
<!--                           formControlName="totalGramsWeight"/>-->
<!--                    <div *ngIf="editForm.get('totalGramsWeight').invalid && (editForm.get('totalGramsWeight').dirty || editForm.get('totalGramsWeight').touched)">-->
<!--                        <small class="form-text text-danger"-->
<!--                               *ngIf="editForm.get('totalGramsWeight').errors.required" jhiTranslate="entity.validation.required">-->
<!--                        This field is required.-->
<!--                        </small>-->
<!--                        <small class="form-text text-danger"-->
<!--                               *ngIf="editForm.get('totalGramsWeight').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">-->
<!--                            This field should be at least 0.-->
<!--                        </small>-->
<!--                        <small class="form-text text-danger"-->
<!--                            [hidden]="!editForm.get('totalGramsWeight')?.errors?.number" jhiTranslate="entity.validation.number">-->
<!--                            This field should be a number.-->
<!--                        </small>-->
<!--                    </div>-->
<!--                </div>-->
<!---->
<!--                <div class="form-group" formGroupName="basicNutritionData">-->
<!--                    <span jhiTranslate="gatewayApp.productsProduct.basicNutritionData">Basic Nutrition Data</span>-->
<!--                    <table>-->
<!--                        <tr>-->
<!--                            <td><label class="form-control-label" jhiTranslate="gatewayApp.recipesRecipeBasicNutritionData.energy" for="field_energy" [ngbTooltip]="'gatewayApp.recipesRecipeBasicNutritionData.help.energy' | translate">Energy</label></td>-->
<!--                            <td><input type="text" class="form-control" name="energy" id="field_energy"-->
<!--                                       formControlName="energy"/></td>-->
<!--                            <td *ngIf="editForm.get('basicNutritionData').get('energy').invalid && (editForm.get('basicNutritionData').get('energy').dirty || editForm.get('basicNutritionData').get('energy').touched)">-->
<!--                                <small class="form-text text-danger"-->
<!--                                       *ngIf="editForm.get('basicNutritionData').get('energy').errors.required" jhiTranslate="entity.validation.required">-->
<!--                                    This field is required.-->
<!--                                </small>-->
<!--                                <small class="form-text text-danger"-->
<!--                                       *ngIf="editForm.get('basicNutritionData').get('energy').errors.number" jhiTranslate="entity.validation.number">-->
<!--                                    This field should be a number.-->
<!--                                </small>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td><label class="form-control-label" jhiTranslate="gatewayApp.recipesRecipeBasicNutritionData.protein" for="field_protein" [ngbTooltip]="'gatewayApp.recipesRecipeBasicNutritionData.help.protein' | translate">protein</label></td>-->
<!--                            <td><input type="text" class="form-control" name="protein" id="field_protein"-->
<!--                                       formControlName="protein"/></td>-->
<!--                            <td *ngIf="editForm.get('basicNutritionData').get('protein').invalid && (editForm.get('basicNutritionData').get('protein').dirty || editForm.get('basicNutritionData').get('protein').touched)">-->
<!--                                <small class="form-text text-danger"-->
<!--                                       *ngIf="editForm.get('basicNutritionData').get('protein').errors.required" jhiTranslate="entity.validation.required">-->
<!--                                    This field is required.-->
<!--                                </small>-->
<!--                                <small class="form-text text-danger"-->
<!--                                       *ngIf="editForm.get('basicNutritionData').get('protein').errors.number" jhiTranslate="entity.validation.number">-->
<!--                                    This field should be a number.-->
<!--                                </small>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td><label class="form-control-label" jhiTranslate="gatewayApp.recipesRecipeBasicNutritionData.fat" for="field_fat" [ngbTooltip]="'gatewayApp.recipesRecipeBasicNutritionData.help.fat' | translate">fat</label></td>-->
<!--                            <td><input type="text" class="form-control" name="fat" id="field_fat"-->
<!--                                       formControlName="fat"/></td>-->
<!--                            <td *ngIf="editForm.get('basicNutritionData').get('fat').invalid && (editForm.get('basicNutritionData').get('fat').dirty || editForm.get('basicNutritionData').get('fat').touched)">-->
<!--                                <small class="form-text text-danger"-->
<!--                                       *ngIf="editForm.get('basicNutritionData').get('fat').errors.required" jhiTranslate="entity.validation.required">-->
<!--                                    This field is required.-->
<!--                                </small>-->
<!--                                <small class="form-text text-danger"-->
<!--                                       *ngIf="editForm.get('basicNutritionData').get('fat').errors.number" jhiTranslate="entity.validation.number">-->
<!--                                    This field should be a number.-->
<!--                                </small>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td><label class="form-control-label" jhiTranslate="gatewayApp.recipesRecipeBasicNutritionData.carbohydrates" for="field_carbohydrates" [ngbTooltip]="'gatewayApp.recipesRecipeBasicNutritionData.help.carbohydrates' | translate">carbohydrates</label></td>-->
<!--                            <td><input type="text" class="form-control" name="carbohydrates" id="field_carbohydrates"-->
<!--                                       formControlName="carbohydrates"/></td>-->
<!--                            <td *ngIf="editForm.get('basicNutritionData').get('carbohydrates').invalid && (editForm.get('basicNutritionData').get('carbohydrates').dirty || editForm.get('basicNutritionData').get('carbohydrates').touched)">-->
<!--                                <small class="form-text text-danger"-->
<!--                                       *ngIf="editForm.get('basicNutritionData').get('carbohydrates').errors.required" jhiTranslate="entity.validation.required">-->
<!--                                    This field is required.-->
<!--                                </small>-->
<!--                                <small class="form-text text-danger"-->
<!--                                       *ngIf="editForm.get('basicNutritionData').get('carbohydrates').errors.number" jhiTranslate="entity.validation.number">-->
<!--                                    This field should be a number.-->
<!--                                </small>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                    </table>-->
<!--                </div>-->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.recipesRecipe.sourceRecipe" for="field_sourceRecipe">Source Recipe</label>
                    <select class="form-control" id="field_sourceRecipe" name="sourceRecipe" formControlName="sourceRecipe">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="recipeOption.id === editForm.get('sourceRecipe').value?.id ? editForm.get('sourceRecipe').value : recipeOption" *ngFor="let recipeOption of recipes; trackBy: trackRecipeById">{{recipeOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="gatewayApp.recipesRecipe.kitchenAppliances" for="field_kitchenAppliances">Kitchen Appliances</label>
                    <select class="form-control" id="field_kitchenAppliances" multiple name="kitchenAppliances" formControlName="kitchenAppliances">
                        <option [ngValue]="getSelected(editForm.get('kitchenAppliances').value, kitchenApplianceOption)" *ngFor="let kitchenApplianceOption of kitchenappliances; trackBy: trackKitchenApplianceById">{{getKitchenApplianceTranslation(kitchenApplianceOption)}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="gatewayApp.recipesRecipe.dishTypes" for="field_dishTypes">Dish Types</label>
                    <select class="form-control" id="field_dishTypes" multiple name="dishTypes" formControlName="dishTypes">
                        <option [ngValue]="getSelected(editForm.get('dishTypes').value, dishTypeOption)" *ngFor="let dishTypeOption of dishtypes; trackBy: trackDishTypeById">{{getDishTypeTranslation(dishTypeOption)}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="gatewayApp.recipesRecipe.mealTypes" for="field_mealTypes">Meal Types</label>
                    <select class="form-control" id="field_mealTypes" multiple name="mealTypes" formControlName="mealTypes">
                        <option [ngValue]="getSelected(editForm.get('mealTypes').value, mealTypeOption)" *ngFor="let mealTypeOption of mealtypes; trackBy: trackMealTypeById">{{getMealTypeTranslation(mealTypeOption)}}</option>
                    </select>
                </div>
                </div>
                <div formArrayName="recipeSections" class="form-group">
                    <h1>
                        <span jhiTranslate="gatewayApp.recipesRecipe.recipeSections">Recipe sections</span>
                        <button type="button" class="btn btn-info btn-sm" (click)="addSection()">
                            <fa-icon [icon]="'plus'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.add">Add</span>
                        </button>
                    </h1>
                    <div *ngFor="let recipeSection of getRecipeSectionsFormArray().controls; let sectionIndex = index"
                         [formGroupName]="sectionIndex">
                        <h2>
                            {{'gatewayApp.recipesRecipeSection.detail.title' | translate}} {{sectionIndex + 1}}
                            <button type="button" class="btn btn-danger btn-sm"
                                    (click)="removeRecipeSection(sectionIndex)">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </h2>
                        <div class="card jh-card">
                        <input class="form-control" type="text" formControlName="sectionName" [placeholder]="'gatewayApp.recipesRecipeSection.sectionName' | translate"/>
                        <div class="form-group">
                            <label jhiTranslate="gatewayApp.recipesRecipeSection.productPortions">Ingredients</label>
                            <button type="button" class="btn btn-info btn-sm" (click)="addIngredient(recipeSection)">
                                <fa-icon [icon]="'plus'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.add">Add</span>
                            </button>
                            <table formArrayName="productPortions" class="form-group">
                                <tr *ngFor="let productPortion of getProductPortionsFormArray(recipeSection).controls; let last = last; let portionIndex = index"
                                    [formGroupName]="portionIndex">
                                    <td>
                                        <span
                                            *ngIf="productPortion.get('product').value">{{productPortion.get('product').value ? productPortion.get('product').value.description : "Can't find product for id"}}</span>
                                        <input *ngIf="!productPortion.get('product').value" type="text" readonly
                                               class="form-control"
                                               name="section{{sectionIndex}}portion{{portionIndex}}productHidden"
                                               formControlName="product" placeholder="Can't find product for id"
                                               [required]="productPortion.get('productId').value"
                                               [placeholder]="'gatewayApp.recipesProductPortion.productId' | translate"/>
                                    </td>
                                    <td>
                                        <select class="form-control" *ngIf="productPortion.get('product').value"
                                                name="section{{sectionIndex}}portion{{portionIndex}}measureId"
                                                id="section{{sectionIndex}}portion{{portionIndex}}measureId"
                                                formControlName="householdMeasureId">
                                            <option [ngValue]="null"></option>
                                            <option
                                                [ngValue]="measure.id === productPortion.get('householdMeasureId').value ? productPortion.get('householdMeasureId').value : measure.id"
                                                *ngFor="let measure of productPortion.get('product').value.householdMeasures">{{measure.description}}</option>
                                        </select>
                                        <select class="form-control" *ngIf="!productPortion.get('product').value"
                                                name="section{{sectionIndex}}portion{{portionIndex}}measureIdEmpty"
                                                id="section{{sectionIndex}}portion{{portionIndex}}measureIdEmpty"
                                                formControlName="householdMeasureId">
                                            <option [ngValue]="null"></option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="number" class="form-control"
                                               name="section{{sectionIndex}}portion{{portionIndex}}amount"
                                               formControlName="amount"
                                               [required]="productPortion.get('productId').value"
                                               jhiMin="0.00001" placeholder="Amount"
                                               [placeholder]="'gatewayApp.recipesProductPortion.amount' | translate"/>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm"
                                                (click)="removeIngredientFromSection(recipeSection, portionIndex)">
                                            <fa-icon [icon]="'times'"></fa-icon>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="form-group" formArrayName="preparationSteps">
                            <label jhiTranslate="gatewayApp.recipesRecipeSection.preparationSteps">Preparation Steps</label>
                            <table>
                            <tr
                                *ngFor="let preparationStep of getPreparationStepsFormArray(recipeSection).controls; let last = last; let preparationIndex = index"
                                [formGroupName]="preparationIndex">
                                <td>
                                <textarea class="form-control"
                                       formControlName="stepDescription"
                                       (keyup)="updatePreparationSteps(recipeSection)"
                                          [placeholder]="'gatewayApp.recipesPreparationStep.stepDescription' | translate"></textarea>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-sm"
                                            (click)="removePreparationStepFromSection(recipeSection, preparationIndex)">
                                        <fa-icon [icon]="'times'"></fa-icon>
                                    </button>
                                </td>
                            </tr>
                            </table>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
