<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="recipe">
            <h2><span jhiTranslate="gatewayApp.recipesRecipe.detail.title">Recipe</span> - {{recipe.name}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.recipesRecipe.preparationTimeMinutes" [ngbTooltip]="'gatewayApp.recipesRecipe.help.preparationTimeMinutes' | translate">Preparation Time Minutes</span></dt>
                <dd>
                    <span>{{recipe.preparationTimeMinutes}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.recipesRecipe.numberOfPortions" [ngbTooltip]="'gatewayApp.recipesRecipe.help.numberOfPortions' | translate">Number Of Portions</span></dt>
                <dd>
                    <span>{{recipe.numberOfPortions}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.recipesRecipe.image" [ngbTooltip]="'gatewayApp.recipesRecipe.help.image' | translate">Image</span></dt>
                <dd>
                    <div *ngIf="recipe.image">
                        <a (click)="openFile(recipe.imageContentType, recipe.image)">
                            <img [src]="'data:' + recipe.imageContentType + ';base64,' + recipe.image" style="max-width: 100%;" alt="recipe image"/>
                        </a>
                        {{recipe.imageContentType}}, {{byteSize(recipe.image)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.recipesRecipe.authorId" [ngbTooltip]="'gatewayApp.recipesRecipe.help.authorId' | translate">Author Id</span></dt>
                <dd>
                    <span>{{recipe.authorId}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.recipesRecipe.creationTimestamp" [ngbTooltip]="'gatewayApp.recipesRecipe.help.creationTimestamp' | translate">Creation Date</span></dt>
                <dd>
                    <span>{{recipe.creationTimestamp}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.recipesRecipe.lastEditTimestamp" [ngbTooltip]="'gatewayApp.recipesRecipe.help.lastEditTimestamp' | translate">Last Edit Date</span></dt>
                <dd>
                    <span>{{recipe.lastEditTimestamp}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.recipesRecipe.isFinal" [ngbTooltip]="'gatewayApp.recipesRecipe.help.isFinal' | translate">Is Visible</span></dt>
                <dd>
                    <span>{{recipe.isFinal}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.recipesRecipe.language" [ngbTooltip]="'gatewayApp.recipesRecipe.help.language' | translate">Language</span></dt>
                <dd>
                    <span>{{recipe.language}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.recipesRecipe.totalGramsWeight" [ngbTooltip]="'gatewayApp.recipesRecipe.help.totalGramsWeight' | translate">Total Grams Weight</span></dt>
                <dd>
                    <span>{{recipe.totalGramsWeight}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.recipesRecipe.basicNutritionData">Basic Nutrition Data</span></dt>
                <dd>
                    <table>
                        <tr>
                            <th jhiTranslate="gatewayApp.recipesRecipeBasicNutritionData.energy">Energy</th>
                            <td>{{recipe.basicNutritionData.energy}}</td>
                        </tr>
                        <tr>
                            <th jhiTranslate="gatewayApp.recipesRecipeBasicNutritionData.fat">Fat</th>
                            <td>{{recipe.basicNutritionData.fat}}</td>
                        </tr>
                        <tr>
                            <th jhiTranslate="gatewayApp.recipesRecipeBasicNutritionData.protein">Protein</th>
                            <td>{{recipe.basicNutritionData.protein}}</td>
                        </tr>
                        <tr>
                            <th jhiTranslate="gatewayApp.recipesRecipeBasicNutritionData.carbohydrates">Carbohydrates</th>
                            <td>{{recipe.basicNutritionData.carbohydrates}}</td>
                        </tr>
                    </table>
                </dd>
                <dt><span jhiTranslate="gatewayApp.recipesRecipe.sourceRecipe">Source Recipe</span></dt>
                <dd>
                    <div *ngIf="recipe.sourceRecipe">
                        <a [routerLink]="['/recipe', recipe.sourceRecipe?.id, 'view']">{{recipe.sourceRecipe?.name}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.recipesRecipe.kitchenAppliances">Kitchen Appliances</span></dt>
                <dd>
                    <span *ngFor="let kitchenAppliances of recipe.kitchenAppliances; let last = last">
                        <a [routerLink]="['/kitchen-appliance', kitchenAppliances?.id, 'view' ]">{{kitchenAppliances.name}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.recipesRecipe.dishTypes">Dish Types</span></dt>
                <dd>
                    <span *ngFor="let dishTypes of recipe.dishTypes; let last = last">
                        <a [routerLink]="['/dish-type', dishTypes?.id, 'view' ]">{{dishTypes.description}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.recipesRecipe.mealTypes">Meal Types</span></dt>
                <dd>
                    <span *ngFor="let mealTypes of recipe.mealTypes; let last = last">
                        <a [routerLink]="['/meal-type', mealTypes?.id, 'view' ]">{{mealTypes.name}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>
            <div *ngFor="let section of recipe.recipeSections">
                <hr>
                <h3><span jhiTranslate="gatewayApp.recipesRecipeSection.detail.title">Section</span> {{section.sectionName}}</h3>
                <div class="row">
                    <div class="col-md-6">
                        <h3 jhiTranslate="gatewayApp.recipesRecipeSection.productPortions">Ingredients</h3>
                        <ul>
                            <li *ngFor="let productPortion of section.productPortions">{{productPortion.amount}}x {{getHouseholdMeasure(productPortion)}} - {{products[productPortion.productId].description}}</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h3 jhiTranslate="gatewayApp.recipesRecipeSection.preparationSteps">Preparation Steps</h3>
                        <ol>
                            <li *ngFor="let preparationStep of section.preparationSteps">{{preparationStep.stepDescription}}</li>
                        </ol>
                    </div>
                </div>
            </div>
            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/recipe', recipe.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
