<div class="card jh-card">
    <h2 id="page-heading">
        <span>Meal Definitions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-meal-definition" [routerLink]="['/meal-definition/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Meal Definition
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="mealDefinitions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Ordinal Number</span></th>
            <th><span>Meal Type Id</span></th>
            <th><span>Time Of Meal</span></th>
            <th><span>Percent Of Energy</span></th>
            <th><span>Meal Plan</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mealDefinition of mealDefinitions ;trackBy: trackId">
                <td><a [routerLink]="['/meal-definition', mealDefinition.id, 'view' ]">{{mealDefinition.id}}</a></td>
                <td>{{mealDefinition.ordinalNumber}}</td>
                <td>{{mealDefinition.mealTypeId}}</td>
                <td>{{mealDefinition.timeOfMeal}}</td>
                <td>{{mealDefinition.percentOfEnergy}}</td>
                <td>
                    <div *ngIf="mealDefinition.mealPlan">
                        <a [routerLink]="['../meal-plan', mealDefinition.mealPlan?.id, 'view' ]" >{{mealDefinition.mealPlan?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/meal-definition', mealDefinition.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/meal-definition', mealDefinition.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'meal-definition', { outlets: { popup: mealDefinition.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
