<div class="card jh-card">
    <div class="col-8">
        <div *ngIf="mealDefinition">
            <h2><span>Meal Definition</span> {{mealDefinition.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span ngbTooltip="Daily ordinal number of meal">Ordinal Number</span></dt>
                <dd>
                    <span>{{mealDefinition.ordinalNumber}}</span>
                </dd>
                <dt><span ngbTooltip="Id of meal type retrieved from recipes service">Meal Type Id</span></dt>
                <dd>
                    <span>{{mealDefinition.mealTypeId}}</span>
                </dd>
                <dt><span ngbTooltip="Usual time of meal in 24h format: HH:mm">Time Of Meal</span></dt>
                <dd>
                    <span>{{mealDefinition.timeOfMeal}}</span>
                </dd>
                <dt><span ngbTooltip="Part of daily total energy expressed in percent.
Sum of all values for one MealPlanProperty must be equal 100.">Percent Of Energy</span></dt>
                <dd>
                    <span>{{mealDefinition.percentOfEnergy}}</span>
                </dd>
                <dt><span>Meal Plan</span></dt>
                <dd>
                    <div *ngIf="mealDefinition.mealPlan">
                        <a [routerLink]="['/meal-plan', mealDefinition.mealPlan?.id, 'view']">{{mealDefinition.mealPlan?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/meal-definition', mealDefinition.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
