<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-nutrition-definition-heading" jhiTranslate="gatewayApp.productsNutritionDefinition.home.createOrEditLabel">Create or edit a Nutrition Definition</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.productsNutritionDefinition.tag" for="field_tag" [ngbTooltip]="'gatewayApp.productsNutritionDefinition.help.tag' | translate">Tag</label>
                    <input type="text" class="form-control" name="tag" id="field_tag"
                           formControlName="tag"/>
                    <div *ngIf="editForm.get('tag').invalid && (editForm.get('tag').dirty || editForm.get('tag').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tag').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tag').errors.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 1 }">
                        This field is required to be at least 1 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tag').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.productsNutritionDefinition.description" for="field_description" [ngbTooltip]="'gatewayApp.productsNutritionDefinition.help.description' | translate">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                    <div *ngIf="editForm.get('description').invalid && (editForm.get('description').dirty || editForm.get('description').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('description').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('description').errors.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 1 }">
                        This field is required to be at least 1 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('description').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.productsNutritionDefinition.units" for="field_units" [ngbTooltip]="'gatewayApp.productsNutritionDefinition.help.units' | translate">Units</label>
                    <input type="text" class="form-control" name="units" id="field_units"
                           formControlName="units"/>
                    <div *ngIf="editForm.get('units').invalid && (editForm.get('units').dirty || editForm.get('units').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('units').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('units').errors.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 1 }">
                        This field is required to be at least 1 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('units').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 10 }">
                        This field cannot be longer than 10 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.productsNutritionDefinition.decimalPlaces" for="field_decimalPlaces" [ngbTooltip]="'gatewayApp.productsNutritionDefinition.help.decimalPlaces' | translate">Decimal Places</label>
                    <input type="number" class="form-control" name="decimalPlaces" id="field_decimalPlaces"
                           formControlName="decimalPlaces"/>
                    <div *ngIf="editForm.get('decimalPlaces').invalid && (editForm.get('decimalPlaces').dirty || editForm.get('decimalPlaces').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('decimalPlaces').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('decimalPlaces').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('decimalPlaces')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
