<div class="row justify-content-center" *ngIf="meal">
    <div class="col-8">
        <form name="meal" role="form" novalidate [formGroup]="meal">
            <div class="card jh-card">
                <h2>{{'gatewayApp.mealplansMeal.detail.title' | translate}} {{meal.get('ordinalNumber').value}}
                    <button type="button" id="save-entity" class="btn btn-danger" (click)="passBack()">
                        <fa-icon [icon]="'times'"></fa-icon>&nbsp;<span>Close</span>
                    </button>
                </h2>

                <h3 jhiTranslate="gatewayApp.mealplansMeal.mealProducts">Products</h3>
                <button type="button" class="btn btn-info btn-sm" (click)="addIngredient()">
                    <fa-icon [icon]="'plus'"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.add">Add</span>
                </button>
                <table formArrayName="mealProducts">
                    <tr *ngFor="let mealProduct of getMealProductsFormArray().controls; let portionIndex = index" [formGroupName]="portionIndex">
                        <td>
                            <span *ngIf="mealProduct.get('product').value">{{mealProduct.get('product').value ? mealProduct.get('product').value.description : "Can't find product for id"}}</span>
                            <input *ngIf="!mealProduct.get('product').value" type="text" readonly class="form-control"
                                   formControlName="product"
                                   placeholder="Can't find product for id"/>
                        </td>
                        <td>
                            <select class="form-control" *ngIf="mealProduct.get('product').value"
                                    name="portion{{portionIndex}}measureId"
                                    id="portion{{portionIndex}}measureId"
                                    formControlName="householdMeasureId">
                                <option [ngValue]="null"></option>
                                <option
                                    [ngValue]="measure.id === mealProduct.get('householdMeasureId').value ? mealProduct.get('householdMeasureId').value : measure.id"
                                    *ngFor="let measure of mealProduct.get('product').value.householdMeasures">{{measure.description}}</option>
                            </select>
                            <select class="form-control" *ngIf="!mealProduct.get('product').value"
                                    name="portion{{portionIndex}}measureIdEmpty"
                                    id="portion{{portionIndex}}measureIdEmpty"
                                    formControlName="householdMeasureId">
                                <option [ngValue]="null"></option>
                            </select>
                        </td>
                        <td>
                            <input type="number" class="form-control"
                                   name="portion{{portionIndex}}amount"
                                   formControlName="amount"
                                   placeholder="Amount" />
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger btn-sm"
                                    (click)="removeIngredientFromMeal(portionIndex)">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </td>
                    </tr>
                </table>
                <h3 jhiTranslate="gatewayApp.mealplansMeal.mealRecipes">Recipes</h3>
                <button type="button" class="btn btn-info btn-sm" (click)="addRecipe()">
                    <fa-icon [icon]="'plus'"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Add</span>
                </button>
                <table formArrayName="mealRecipes">
                    <tr *ngFor="let mealRecipe of getMealRecipesFormArray().controls; let portionIndex = index" [formGroupName]="portionIndex">
                        <td>
                        <span *ngIf="mealRecipe.get('recipe').value">
                            {{mealRecipe.get('recipe').value ? mealRecipe.get('recipe').value.name : "Can't find recipe for id"}}
                        </span>
                            <input *ngIf="!mealRecipe.get('recipe').value" type="text" readonly class="form-control"
                                   name="recipePortion{{portionIndex}}productHidden"
                                   formControlName="recipe"
                                   placeholder="Can't find product for id"/>
                        </td>
                        <td>
                            <input type="number" class="form-control"
                                   formControlName="amount"
                                   name="recipePortion{{portionIndex}}amount"/>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger btn-sm"
                                    (click)="removeRecipeFromMeal(portionIndex)">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>
