<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-household-measure-heading">Create or edit a Household Measure</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!householdMeasure.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="householdMeasure.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description" ngbTooltip="Short description of measure, e.g. &#34;cup&#34; or &#34;tea spoon&#34;">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="householdMeasure.description" required minlength="1"/>
                    <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.description?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.description?.errors?.minlength">
                        This field is required to be at least 1 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_gramsWeight" ngbTooltip="Grams weight of 1 unit of specified measure">Grams Weight</label>
                    <input type="number" class="form-control" name="gramsWeight" id="field_gramsWeight"
                        [(ngModel)]="householdMeasure.gramsWeight" required min="0" jhiMin="0"/>
                    <div [hidden]="!(editForm.controls.gramsWeight?.dirty && editForm.controls.gramsWeight?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.gramsWeight?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.gramsWeight?.errors?.min">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.gramsWeight?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_isVisible" ngbTooltip="Flag specifying if measure is visible on presentation layer.
By default it is inittially set to false for data imported from external sources">Is Visible</label>
                    <input type="checkbox" class="form-control" name="isVisible" id="field_isVisible"
                        [(ngModel)]="householdMeasure.isVisible" />
                    <div [hidden]="!(editForm.controls.isVisible?.dirty && editForm.controls.isVisible?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.isVisible?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_product">Product</label>
                    <select class="form-control" id="field_product" name="product" [(ngModel)]="householdMeasure.product"  required>
                        <option *ngIf="!editForm.value.product" [ngValue]="null" selected></option>
                        <option [ngValue]="productOption.id === householdMeasure.product?.id ? householdMeasure.product : productOption" *ngFor="let productOption of products; trackBy: trackProductById">{{productOption.id}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.product?.dirty && editForm.controls.product?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.product?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
