<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="householdMeasure">
            <h2><span>Household Measure</span> {{householdMeasure.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span ngbTooltip="Short description of measure, e.g. &#34;cup&#34; or &#34;tea spoon&#34;">Description</span></dt>
                <dd>
                    <span>{{householdMeasure.description}}</span>
                </dd>
                <dt><span ngbTooltip="Grams weight of 1 unit of specified measure">Grams Weight</span></dt>
                <dd>
                    <span>{{householdMeasure.gramsWeight}}</span>
                </dd>
                <dt><span ngbTooltip="Flag specifying if measure is visible on presentation layer.
By default it is inittially set to false for data imported from external sources">Is Visible</span></dt>
                <dd>
                    <span>{{householdMeasure.isVisible}}</span>
                </dd>
                <dt><span>Product</span></dt>
                <dd>
                    <div *ngIf="householdMeasure.product">
                        <a [routerLink]="['/product', householdMeasure.product?.id, 'view']">{{householdMeasure.product?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/household-measure', householdMeasure.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
