<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-meal-plan-heading" jhiTranslate="gatewayApp.mealplansMealPlan.home.createOrEditLabel">Create or edit a Meal Plan</h2>
            <ngb-tabset justify="justified">
                <ngb-tab title="{{'gatewayApp.mealplansMealPlan.settings' | translate}}">
                    <ng-template ngbTabContent>
                        <jhi-alert-error></jhi-alert-error>
                        <div class="form-group" [hidden]="!editForm.get('id').value">
                            <label for="id" jhiTranslate="global.field.id">ID</label>
                            <input type="text" class="form-control" id="id" name="id" formControlName="id"
                                readonly />
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="gatewayApp.mealplansMealPlan.authorId" for="field_authorId" [ngbTooltip]="'gatewayApp.mealplansMealPlan.help.authorId' | translate">Author Id</label>
                            <input readonly type="number" class="form-control" name="authorId" id="field_authorId"
                                   formControlName="authorId"/>
                            <div *ngIf="editForm.get('authorId').invalid && (editForm.get('authorId').dirty || editForm.get('authorId').touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('authorId').errors.required" jhiTranslate="entity.validation.required">
                                This field is required.
                                </small>
                                <small class="form-text text-danger"
                                    [hidden]="!editForm.get('authorId')?.errors?.number" jhiTranslate="entity.validation.number">
                                    This field should be a number.
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="gatewayApp.mealplansMealPlan.creationDate" for="field_creationDate" [ngbTooltip]="'gatewayApp.mealplansMealPlan.help.creationDate' | translate">Creation Date</label>
                            <div class="input-group">
                                <input readonly id="field_creationDate" type="text" class="form-control" name="creationDate" formControlName="creationDate"/>
                                <span class="input-group-append">
                                    <button type="button" class="btn btn-secondary" (click)="creationDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                                </span>
                            </div>
                            <div *ngIf="editForm.get('creationDate').invalid && (editForm.get('creationDate').dirty || editForm.get('creationDate').touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('creationDate').errors.required" jhiTranslate="entity.validation.required">
                                This field is required.
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="gatewayApp.mealplansMealPlan.name" for="field_name" [ngbTooltip]="'gatewayApp.mealplansMealPlan.help.name' | translate">Name</label>
                            <input type="text" class="form-control" name="name" id="field_name"
                                   formControlName="name"/>
                            <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('name').errors.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 1 }">
                                This field is required to be at least 1 characters.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('name').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                                This field cannot be longer than 255 characters.
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="gatewayApp.mealplansMealPlan.isVisible" for="field_isVisible" [ngbTooltip]="'gatewayApp.mealplansMealPlan.help.isVisible' | translate">Is Visible</label>
                            <input type="checkbox" class="form-control" name="isVisible" id="field_isVisible"
                                   formControlName="isVisible"/>
                            <div *ngIf="editForm.get('isVisible').invalid && (editForm.get('isVisible').dirty || editForm.get('isVisible').touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('isVisible').errors.required" jhiTranslate="entity.validation.required">
                                This field is required.
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="gatewayApp.mealplansMealPlan.isLocked" for="field_isLocked" [ngbTooltip]="'gatewayApp.mealplansMealPlan.help.isLocked' | translate">Is Locked</label>
                            <input type="checkbox" class="form-control" name="isLocked" id="field_isLocked"
                                   formControlName="isLocked"/>
                            <div *ngIf="editForm.get('isLocked').invalid && (editForm.get('isLocked').dirty || editForm.get('isLocked').touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('isLocked').errors.required" jhiTranslate="entity.validation.required">
                                This field is required.
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="gatewayApp.mealplansMealPlan.language" for="field_language" [ngbTooltip]="'gatewayApp.mealplansMealPlan.help.language' | translate">Language</label>
                            <select class="form-control" id="field_language" name="language"
                                    formControlName="language">
                                <option *ngIf="!editForm.get('language').value" [ngValue]="null" selected></option>
                                <option
                                    [ngValue]="languageOption === editForm.get('language').value ? editForm.get('language').value : languageOption"
                                    *ngFor="let languageOption of languages">{{languageOption}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="gatewayApp.mealplansMealPlan.numberOfDays" for="field_numberOfDays" [ngbTooltip]="'gatewayApp.mealplansMealPlan.help.numberOfDays' | translate">Number Of Days</label>
                            <input type="number" class="form-control" name="numberOfDays" id="field_numberOfDays"
                                   formControlName="numberOfDays"/>
                            <div *ngIf="editForm.get('numberOfDays').invalid && (editForm.get('numberOfDays').dirty || editForm.get('numberOfDays').touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('numberOfDays').errors.required" jhiTranslate="entity.validation.required">
                                This field is required.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('numberOfDays').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 1 }">
                                    This field should be at least 1.
                                </small>
                                <small class="form-text text-danger"
                                    [hidden]="!editForm.get('numberOfDays')?.errors?.number" jhiTranslate="entity.validation.number">
                                    This field should be a number.
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="gatewayApp.mealplansMealPlan.numberOfMealsPerDay" for="field_numberOfMealsPerDay" [ngbTooltip]="'gatewayApp.mealplansMealPlan.help.numberOfMealsPerDay' | translate">Number Of Meals Per Day</label>
                            <input type="number" class="form-control" name="numberOfMealsPerDay" id="field_numberOfMealsPerDay"
                                   formControlName="numberOfMealsPerDay"/>
                            <div *ngIf="editForm.get('numberOfMealsPerDay').invalid && (editForm.get('numberOfMealsPerDay').dirty || editForm.get('numberOfMealsPerDay').touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('numberOfMealsPerDay').errors.required" jhiTranslate="entity.validation.required">
                                This field is required.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('numberOfMealsPerDay').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 1 }">
                                    This field should be at least 1.
                                </small>
                                <small class="form-text text-danger"
                                    [hidden]="!editForm.get('numberOfMealsPerDay')?.errors?.number" jhiTranslate="entity.validation.number">
                                    This field should be a number.
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label jhiTranslate="gatewayApp.mealplansMealPlan.mealDefinitions">Meals Definitions</label>
                            <table formArrayName="mealDefinitions">
                                <tr *ngFor="let mealDefinition of getMealDefinitionsFormArray().controls; let index = index" [formGroupName]="index">
                                    <td>{{mealDefinition.get('ordinalNumber').value}}</td>
                                    <td>
<!--                                        <select class="form-control" name="mealType{{index}}" id="mealType{{index}}"-->
<!--                                                [(ngModel)]="mealDefinition.mealTypeId" required>-->
<!--                                            <option id="mealType{{index}}option{{mealType.id}}"-->
<!--                                                    [ngValue]="mealType.id === mealDefinition.mealTypeId ? mealDefinition.mealTypeId : mealType.id"-->
<!--                                                    *ngFor="let mealType of mealTypes">{{mealType.nameEnglish}}</option>-->
<!--                                        </select>-->
                                        <select class="form-control" id="mealType" name="mealType"
                                                formControlName="mealTypeId">
                                            <option
                                                [ngValue]="mealTypeOption.id === mealDefinition.get('mealTypeId').value ? mealDefinition.get('mealTypeId').value : mealTypeOption.id"
                                                *ngFor="let mealTypeOption of mealTypes">{{mealTypeOption.name}}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="time" class="form-control" name="timeOfMeal{{index}}" id="timeOfMeal{{index}}"
                                               formControlName="timeOfMeal"
                                               required placeholder="Time of meal"/>
                                    </td>
                                    <td>
                                        <input type="number" class="form-control"
                                               formControlName="percentOfEnergy"
                                               placeholder="Percent of daily energy"
                                               [placeholder]="'gatewayApp.mealplansMealDefinition.percentOfEnergy' | translate"/>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="gatewayApp.mealplansMealPlan.totalDailyEnergy" for="field_totalDailyEnergy" [ngbTooltip]="'gatewayApp.mealplansMealPlan.help.totalDailyEnergy' | translate">Total Daily Energy</label>
                            <input type="number" class="form-control" name="totalDailyEnergy" id="field_totalDailyEnergy"
                                   formControlName="totalDailyEnergy"/>
                            <div *ngIf="editForm.get('totalDailyEnergy').invalid && (editForm.get('totalDailyEnergy').dirty || editForm.get('totalDailyEnergy').touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('totalDailyEnergy').errors.required" jhiTranslate="entity.validation.required">
                                This field is required.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('totalDailyEnergy').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 1 }">
                                    This field should be at least 1.
                                </small>
                                <small class="form-text text-danger"
                                    [hidden]="!editForm.get('totalDailyEnergy')?.errors?.number" jhiTranslate="entity.validation.number">
                                    This field should be a number.
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="gatewayApp.mealplansMealPlan.percentOfProtein" for="field_percentOfProtein" [ngbTooltip]="'gatewayApp.mealplansMealPlan.help.percentOfProtein' | translate">Percent Of Protein</label>
                            <input type="number" class="form-control" name="percentOfProtein" id="field_percentOfProtein"
                                   formControlName="percentOfProtein"/>
                            <div *ngIf="editForm.get('percentOfProtein').invalid && (editForm.get('percentOfProtein').dirty || editForm.get('percentOfProtein').touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('percentOfProtein').errors.required" jhiTranslate="entity.validation.required">
                                This field is required.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('percentOfProtein').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                                    This field should be at least 0.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('percentOfProtein').errors.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 100 }">
                                    This field cannot be more than 100.
                                </small>
                                <small class="form-text text-danger"
                                    [hidden]="!editForm.get('percentOfProtein')?.errors?.number" jhiTranslate="entity.validation.number">
                                    This field should be a number.
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="gatewayApp.mealplansMealPlan.percentOfFat" for="field_percentOfFat" [ngbTooltip]="'gatewayApp.mealplansMealPlan.help.percentOfFat' | translate">Percent Of Fat</label>
                            <input type="number" class="form-control" name="percentOfFat" id="field_percentOfFat"
                                   formControlName="percentOfFat"/>
                            <div *ngIf="editForm.get('percentOfFat').invalid && (editForm.get('percentOfFat').dirty || editForm.get('percentOfFat').touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('percentOfFat').errors.required" jhiTranslate="entity.validation.required">
                                This field is required.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('percentOfFat').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                                    This field should be at least 0.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('percentOfFat').errors.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 100 }">
                                    This field cannot be more than 100.
                                </small>
                                <small class="form-text text-danger"
                                    [hidden]="!editForm.get('percentOfFat')?.errors?.number" jhiTranslate="entity.validation.number">
                                    This field should be a number.
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="gatewayApp.mealplansMealPlan.percentOfCarbohydrates" for="field_percentOfCarbohydrates" [ngbTooltip]="'gatewayApp.mealplansMealPlan.help.percentOfCarbohydrates' | translate">Percent Of Carbohydrates</label>
                            <input type="number" class="form-control" name="percentOfCarbohydrates" id="field_percentOfCarbohydrates"
                                   formControlName="percentOfCarbohydrates"/>
                            <div *ngIf="editForm.get('percentOfCarbohydrates').invalid && (editForm.get('percentOfCarbohydrates').dirty || editForm.get('percentOfCarbohydrates').touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('percentOfCarbohydrates').errors.required" jhiTranslate="entity.validation.required">
                                This field is required.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('percentOfCarbohydrates').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                                    This field should be at least 0.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('percentOfCarbohydrates').errors.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 100 }">
                                    This field cannot be more than 100.
                                </small>
                                <small class="form-text text-danger"
                                    [hidden]="!editForm.get('percentOfCarbohydrates')?.errors?.number" jhiTranslate="entity.validation.number">
                                    This field should be a number.
                                </small>
                            </div>
                        </div>

                    </ng-template>
                </ngb-tab>
                <ngb-tab title="{{'gatewayApp.mealplansMealPlan.calendar' | translate}}">
                    <ng-template ngbTabContent>
                        <header>
                            <div class="row d-none d-lg-flex p-1 bg-primary text-white">
                                <h5 class="col-lg p-1 text-center"></h5>
                                <h5 class="col-lg p-1 text-center" *ngFor="let meal of getMealDefinitionsFormArray().controls">
                                    {{'gatewayApp.mealplansMeal.detail.title' | translate}} {{meal.get('ordinalNumber').value}}</h5>
                                <h5 class="col-lg p-1 text-center" jhiTranslate="gatewayApp.mealplansMealPlanDay.summary">Summary</h5>
                            </div>
                        </header>
                        <div class="row border border-right-0 border-bottom-0"
                             *ngFor="let day of getDaysFormArray().controls; let dayIndex = index" >
                            <div class="day col-lg p-2 border border-left-0 border-top-0 text-truncate bg-primary text-white">
                                <h5 class="col-lg p-1 text-center">{{'gatewayApp.mealplansMealPlanDay.detail.title' | translate}} {{day.get('ordinalNumber').value}}</h5>
                            </div>
                            <div class="day col-lg p-2 border border-left-0 border-top-0 text-truncate "
                                 *ngFor="let meal of getMealsFormArray(day).controls; let mealIndex = index">
                                <button type="button"
                                        (click)="editMeal(day, meal)"
                                        class="btn btn-primary btn-sm">
                                    <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                </button>
                                <h5 class="row align-items-center">
                                    <small class="col d-sm-none text-center text-muted">{{'gatewayApp.mealplansMeal.detail.title' | translate}} {{meal.get('ordinalNumber').value}}</small>
                                </h5>
                                <h5 class="row align-items-center" *ngIf="meal.get('mealRecipes').controls.length > 0">
                                    <span class="col-1" jhiTranslate="gatewayApp.mealplansMeal.mealRecipes">Recipes</span>
                                </h5>
                                <a class="event d-block p-1 pl-2 pr-2 mb-1 rounded text-wrap small bg-info text-white"
                                   title="{{recipe.get('recipe').value ? recipe.get('recipe').value.name : recipe.get('recipeId').value}}"
                                   *ngFor="let recipe of getMealRecipesFormArray(meal).controls; let recipeIndex = index"
                                   routerLink="/recipe/{{recipe.get('recipeId').value}}/view">
                                    <span class="event d-block p-1 pl-2 pr-2 mb-1 rounded text-wrap small bg-light text-dark">
                                        {{recipe.get('amount').value}}x g
                                    </span>
                                    {{recipe.get('recipe').value ? recipe.get('recipe').value.name : recipe.get('recipeId').value}}
                                </a>
                                <h5 class="row align-items-center" *ngIf="meal.get('mealProducts').controls.length > 0">
                                    <span class="col-1" jhiTranslate="gatewayApp.mealplansMeal.mealProducts">Products</span>
                                </h5>
                                <a class="event d-block p-1 pl-2 pr-2 mb-1 rounded text-wrap small bg-info text-white"
                                   title="{{product.get('product').value ? product.get('product').value.description : product.get('productId').value}}"
                                   *ngFor="let product of getMealProductsFormArray(meal).controls; let productIndex = index"
                                   routerLink="/product/{{product.get('productId').value}}/view">
                                    <span class="event d-block p-1 pl-2 pr-2 mb-1 rounded text-wrap small bg-light text-dark">
                                        {{product.get('amount').value}}x {{getHouseholdMeasure(product)}}
                                    </span>
                                    {{product.get('product').value ? product.get('product').value.description : product.get('productId').value}}
                                </a>
                            </div>
                            <div class="day col-lg p-2 border border-left-0 border-top-0 text-truncate" >
                                <h5 class="row align-items-center">
                                    <small class="col d-sm-none text-center text-muted" jhiTranslate="gatewayApp.mealplansMealPlanDay.summary">Summary</small>
                                </h5>
                                <div *ngIf="dayBasicNutritionResponses[day.get('ordinalNumber').value]">
                                <div *ngFor="let nutritionKey of getBasicNutritionsKeys()">
                                    <h5>{{nutritionKey}}</h5>
                                    <div
                                        class="btn btn-sm {{getSummaryButtonClass(dayBasicNutritionResponses[day.get('ordinalNumber').value],nutritionKey)}}">
                                        <fa-icon icon="{{getSummaryIcon(dayBasicNutritionResponses[day.get('ordinalNumber').value],nutritionKey)}}"></fa-icon>&nbsp;
                                        <span>
                                            {{calcPercent(getNutritionValue(dayBasicNutritionResponses[day.get('ordinalNumber').value], nutritionKey), getDailyValue(nutritionKey))}}%
                                        </span><br/>
                                        <span>
                                            {{getNutritionValue(dayBasicNutritionResponses[day.get('ordinalNumber').value], nutritionKey)}}/{{getDailyValue(nutritionKey)}}
                                        </span>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-100"></div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
