<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="nutritionData">
            <h2><span jhiTranslate="gatewayApp.productsNutritionData.detail.title">Nutrition Data</span> {{nutritionData.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.productsNutritionData.nutritionValue" [ngbTooltip]="'gatewayApp.productsNutritionData.help.nutritionValue' | translate">Nutrition Value</span></dt>
                <dd>
                    <span>{{nutritionData.nutritionValue}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.productsNutritionData.nutritionDefinition">Nutrition Definition</span></dt>
                <dd>
                    <div *ngIf="nutritionData.nutritionDefinition">
                        <a [routerLink]="['/nutrition-definition', nutritionData.nutritionDefinition?.id, 'view']">{{nutritionData.nutritionDefinition?.tag}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.productsNutritionData.product">Product</span></dt>
                <dd>
                    <div *ngIf="nutritionData.product">
                        <a [routerLink]="['/product', nutritionData.product?.id, 'view']">{{nutritionData.product?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/nutrition-data', nutritionData.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
