<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-nutrition-data-heading" jhiTranslate="gatewayApp.productsNutritionData.home.createOrEditLabel">Create or edit a Nutrition Data</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.productsNutritionData.nutritionValue" for="field_nutritionValue" [ngbTooltip]="'gatewayApp.productsNutritionData.help.nutritionValue' | translate">Nutrition Value</label>
                    <input type="number" class="form-control" name="nutritionValue" id="field_nutritionValue"
                           formControlName="nutritionValue"/>
                    <div *ngIf="editForm.get('nutritionValue').invalid && (editForm.get('nutritionValue').dirty || editForm.get('nutritionValue').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nutritionValue').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nutritionValue').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('nutritionValue')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.productsNutritionData.nutritionDefinition" for="field_nutritionDefinition">Nutrition Definition</label>
                    <select class="form-control" id="field_nutritionDefinition" name="nutritionDefinition" formControlName="nutritionDefinition">
                        <option *ngIf="!editForm.get('nutritionDefinition').value" [ngValue]="null" selected></option>
                        <option [ngValue]="nutritionDefinitionOption.id === editForm.get('nutritionDefinition').value?.id ? editForm.get('nutritionDefinition').value : nutritionDefinitionOption" *ngFor="let nutritionDefinitionOption of nutritiondefinitions; trackBy: trackNutritionDefinitionById">{{nutritionDefinitionOption.tag}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('nutritionDefinition').invalid && (editForm.get('nutritionDefinition').dirty || editForm.get('nutritionDefinition').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('nutritionDefinition').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.productsNutritionData.product" for="field_product">Product</label>
                    <select class="form-control" id="field_product" name="product" formControlName="product">
                        <option *ngIf="!editForm.get('product').value" [ngValue]="null" selected></option>
                        <option [ngValue]="productOption.id === editForm.get('product').value?.id ? editForm.get('product').value : productOption" *ngFor="let productOption of products; trackBy: trackProductById">{{productOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('product').invalid && (editForm.get('product').dirty || editForm.get('product').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('product').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
